@import url("../../css/jack-jones.css");

/* Import from jj-5lines */

/* Imported from jj-shared */

/* HEADER */

.top_header .header_top_wrapper a.brand_selector_link,
.customer_info,
.customer_info a,
.nav_general ul li a {
  color: #b2b2b2;
}

.general-header-marketing-slot,
.header_asset .slot,
.header_asset .slot span strong {
  color: #808080;
}

.searchresultsheader {
  height: auto;
}

.top_header .header_top_wrapper {
  border-top: 1px solid #e0e0e0;
}

/* FLYOUT MENU */

#branded #category_menu {
  top: 60px;
  left: 165px !important;
}

#branded .header .menu .level0item a {
  color: black !important;
}

#branded .header .menu .level0item a.active {
  color: black !important;
}

#branded .category_menu ul.categories li.level0item {
  background: transparent;
}

#branded .category_menu ul.categories li.level0item ul.items {
  margin-left: 5px !important;
  padding-left: 30px !important;
  width: auto !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
  float: none !important;
  display: block !important;
  padding: 0 !important;
}

#branded .category_menu ul.categories li.level0item ul.items a {
  text-transform: none;
  background: none !important;
  padding-left: 0 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#branded .category_menu ul.categories li.level0item ul.items a:hover {
  color: #666 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#branded .category_menu ul.categories li.level0item ul.items li {
  list-style: none;
  margin-top: 2px;
  float: none !important;
}

#branded .category_menu ul.categories li.level0item ul.items li a {
  padding-left: 0;
  text-transform: none !important;
  background: none !important;
}

#branded #category_menu > div > ul > li {
  margin-left: 8px !important;
  position: relative;
}

#branded #category_menu > div > ul > li a.active {
  border: 1px solid black;
  border-bottom: 0 none;
  -webkit-box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, 0.1);
}

#branded #category_menu > div > ul > li .active.no-flyout {
  border: 0 none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#branded #category_menu .sub_category {
  width: 397px;
  height: auto;
  background: transparent;
  z-index: -1;
  -webkit-filter: 0;
  filter: 0;
  margin-left: -5px;
  left: 1px !important;
}

#branded #category_menu .sub_category .ul_wrapper {
  width: 186px !important;
  height: auto !important;
  padding-bottom: 15px;
}

#branded #category_menu .sub_category .ul_wrapper ul:first-child {
  border-bottom: 0 none;
}

#branded #category_menu .sub_category .ul_wrapper ul li.level2item {
  display: none;
}

#branded #category_menu .sub_category dl {
  background: url("../img/flyout-bg.png") bottom left;
  margin-bottom: 0;
  padding-bottom: 0;
}

#branded #category_menu .sub_category dl dd {
  overflow: auto;
  background: url("../img/flyout-bg-top.png") top left repeat-x;
}

#branded #category_menu .sub_category .background {
  height: auto;
  padding-bottom: 23px;
}

#branded #category_menu .sub_category a.offer {
  width: 188px !important;
  height: 440px !important;
  margin-top: 0px;
  margin-bottom: 6px;
  border-top: 1px solid black;
  margin-left: -4px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#branded #category_menu .preparingToColumnize {
  visibility: hidden;
  display: block !important;
}

/* MINICART */

.minicart,
.ma .minicart,
.bes .minicart {
  height: 27px;
}

.minicart .minicarttotal,
.ma .minicart .minicarttotal,
.bes .minicart .minicarttotal {
  background: url("../img/basket.jpg") no-repeat 8px;
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
  padding: 9px 14px 6px 35px;
}

.brand_slides .brand_disclaimer {
  padding: 0 !important;
  background: none !important;
  overflow: auto !important;
}

.brand_slides .brand_disclaimer div {
  display: block;
  padding: 15px 0 12px;
}

.brand_slides .brand_disclaimer img {
  margin: -14px 12px -4px 0;
}

/* CONTENT */

#branded .area {
  width: 1005px;
}

#branded #category_menu {
  left: -24px !important;
}

#branded .container_24 {
  margin-top: 125px;
}

#branded .wrapper,
#branded .header,
#branded .header,
.top_header,
.top_header#header_global,
.top_header .header_top_wrapper {
  background: white !important;
}

#branded.pt_productdetails,
#branded.pt_productdetails .wrapper {
  background: white;
}

#branded.pt_category .container_24 .grid_24,
#branded.pt_productsearchresult .container_24 .grid_24 {
  margin-top: 156px;
}

#branded.pt_category .container_24 .grid_20,
#branded.pt_productsearchresult .container_24 .grid_20 {
  width: 800px;
}

#branded.pt_category .container_24 .grid_4,
#branded.pt_productsearchresult .container_24 .grid_4 {
  margin-top: 0;
}

#branded.pt_category .cat_description,
#branded.pt_productsearchresult .cat_description {
  background-color: white;
  font: 10px Verdana, Geneva, sans-serif !important;
  color: #7a7a7a !important;
  padding: 2px 22px 0;
  line-height: 16px !important;
}

#branded.pt_category .breadcrumbs,
#branded.pt_productsearchresult .breadcrumbs {
  width: 985px;
  margin-left: 0;
  background-color: white;
  padding-left: 23px;
}

#branded.pt_category .sorthitscontainer,
#branded.pt_productsearchresult .sorthitscontainer {
  background-color: white;
}

#branded.pt_category .sorthitscontainer .sortby,
#branded.pt_productsearchresult .sorthitscontainer .sortby {
  position: absolute;
  top: -34px;
  right: 0;
}

#branded.pt_category .sorthitscontainer .sortby form,
#branded.pt_productsearchresult .sorthitscontainer .sortby form {
  text-align: right;
}

#branded.pt_category .sorthitscontainer select,
#branded.pt_productsearchresult .sorthitscontainer select {
  text-transform: uppercase;
}

#branded.pt_category .searchrefine #searchrefinements.searchrefinements h2,
#branded.pt_category .searchrefine .refinement,
#branded.pt_category .searchrefinements .refinement,
#branded.pt_category .searchrefine h2,
#branded.pt_category .searchrefine h3,
#branded.pt_category .searchrefinements h3,
#branded.pt_category .searchrefine h4,
#branded.pt_productsearchresult .searchrefine #searchrefinements.searchrefinements h2,
#branded.pt_productsearchresult .searchrefine .refinement,
#branded.pt_productsearchresult .searchrefinements .refinement,
#branded.pt_productsearchresult .searchrefine h2,
#branded.pt_productsearchresult .searchrefine h3,
#branded.pt_productsearchresult .searchrefinements h3,
#branded.pt_productsearchresult .searchrefine h4 {
  background: white;
}

#branded.pt_category .searchrefine #searchrefinements.searchrefinements h2,
#branded.pt_category .searchrefine #searchrefinements.searchrefinements h4,
#branded.pt_productsearchresult .searchrefine #searchrefinements.searchrefinements h2,
#branded.pt_productsearchresult .searchrefine #searchrefinements.searchrefinements h4 {
  border: 1px #DDD solid;
  border-left: 0 none;
  border-right: 0 none;
  margin-left: 13px;
  padding-left: 12px;
  width: 145px;
  padding: 4px 0 5px 12px;
}

#branded.pt_category #refinement-colorFamily .refineattributes .swatches li a,
#branded.pt_productsearchresult #refinement-colorFamily .refineattributes .swatches li a {
  background-image: url(../img/refinement_color.png);
}

#branded.pt_category #jsInitialGrid,
#branded.pt_productsearchresult #jsInitialGrid {
  border-top: 1px #EEE solid;
}

#branded.pt_category .productresultarea .product,
#branded.pt_productsearchresult .productresultarea .product {
  background: white;
  border-right: 1px #EEE solid;
}

#branded.pt_category .productlisting,
#branded.pt_productsearchresult .productlisting {
  border-bottom: 1px #EEE solid;
  border-left: 1px #EEE solid;
  margin: 0 auto;
}

#branded.pt_category .searchrefine .refinement,
#branded.pt_category .searchrefinements .refinement,
#branded.pt_productsearchresult .searchrefine .refinement,
#branded.pt_productsearchresult .searchrefinements .refinement {
  border: 0 none;
  margin-left: 2px;
}

#branded.pt_productdetails .breadcrumbs {
  background: white;
}

.countryDE #branded.pt_category .sorthitscontainer .sortby,
.countryDE #branded.pt_productsearchresult .sorthitscontainer .sortby {
  top: 46px;
}

.countryDE .sorthitscontainer .tuv_price_shipping_wrapper {
  text-transform: none;
  font: 10px Verdana, Geneva, sans-serif !important;
  color: #7a7a7a !important;
}

#branded.pt_productdetails .product_info,
#branded.pt_productdetails .product_detail .product_tabs,
#branded.pt_productdetails .product_images .image_border,
#branded.pt_productdetails .product_images .thumbnail_carousel,
#branded.pt_productdetails .social_widget,
#branded.pt_productdetails .maywerecommend {
  background: white;
}

.jj .to_top {
  background: none;
}

/* SLIDESHOW */

#branded .slideshow {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#branded .slideshow .container {
  width: 99999px;
  overflow: auto;
}

#branded .slideshow .container img {
  float: left;
}

#branded .slideshow .controls {
  text-align: center;
  margin-top: 7px;
}

#branded .slideshow .bubble {
  display: inline-block;
}

#branded .slideshow .bubble.active .active {
  background-position: 0 0;
}

#branded .slideshow .prev-btn,
#branded .slideshow .next-btn {
  background-position: 0 0;
  cursor: pointer;
  position: absolute;
}

#branded .slideshow .prev-btn:hover,
#branded .slideshow .next-btn:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#branded .slideshow .next-btn {
  right: 0px;
}

#branded .slideshow .prev-btn {
  left: 0px;
}

#branded .slideshow map {
  display: block;
}

#branded .slideshow .imgMapperHotFix {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#branded .slideshow .popup {
  position: absolute;
  text-align: center;
  color: black;
  display: none;
  background: white;
  max-width: 165px;
}

#branded .slideshow .popup h1 {
  text-transform: uppercase;
  font-size: 12px !important;
  margin-top: 8px;
  padding: 0 8px;
  font-family: "GillSansMTStd-Medium" !important;
  line-height: 15px;
}

#branded .slideshow .popup p {
  margin: 0 0 6px !important;
  padding: 0 !important;
  font-weight: normal;
  font-size: 12px !important;
  -webkit-column-count: 1 !important;
  -moz-column-count: 1 !important;
  -ms-column-count: 1 !important;
  -o-column-count: 1 !important;
  column-count: 1 !important;
}

/* FOOTER */

#footer_global {
  background: #f1f1f1 url("../img/footer-bg.jpg") bottom left repeat-x;
}

#footer_global h4 {
  color: #060607;
  font-family: "PFDinMono-Regular";
  font-size: 14px;
}

#footer_global a {
  color: #848486;
  font-family: "PFDinMono-Regular";
  font-size: 12px;
  text-transform: uppercase;
}

#footer_global a:hover {
  color: #060607;
}

#footer_global .lower.container_24 .grid_7.textleft img,
#footer_global .lower.container_24 .grid_8.textcenter #trustpilot,
#footer_global .lower.container_24 .grid_9.textright img {
  opacity: 1;
  filter: alpha(opacity=100);
}

#footer_global fieldset input,
input[type="text"],
input[type="password"] {
  font-family: "PFDinMono-Regular";
  font-size: 12px;
  font-weight: normal;
}

#footer_global fieldset button {
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

#footer_global fieldset button:hover,
#footer_global fieldset a.button:hover,
#footer_global fieldset button.positive:hover,
#footer_global fieldset button.negative:hover,
#footer_global fieldset button:focus,
#footer_global fieldset a.button:focus,
#footer_global fieldset button.positive:focus,
#footer_global fieldset button.negative:focus {
  background-position: 0 3px;
}

/* NO RESULTS */

#search .no-results-slot {
  display: inline-block;
  height: 183px;
  width: 246px;
  margin-right: 8px;
  margin-bottom: 8px;
}

#search .no-results-slot:hover {
  text-decoration: none;
}

#search .no-results-slot.col1 {
  margin-left: 21px;
}

#search .no-results-slot.col3 {
  margin-right: 0;
}

#search .no-results-slot.large {
  width: 758px;
  height: 113px;
  margin-bottom: 19px;
}

#search .no-results-slot.large h2 {
  padding-top: 35px;
  color: black;
}

#search .no-results-slot h2 {
  padding-top: 114px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

#search .no-results-slot h3 {
  padding-top: 0px;
  margin-top: 0;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}

/* End import from jj-shared */

*::selection {
  background: #a8d1ff !important;
  /* Pink selection! What r u doin? STAHP! */
  /* Pink is teh color of bacon! WIN! */
}

*::-moz-selection {
  background: #a8d1ff !important;
}

.soft-intro {
  visibility: hidden;
}

/* HEADER */

#branded .header {
  height: 75px;
  left: 0;
  width: 100%  !important;
}

#branded .header .logo {
  display: none;
}

#branded .simple_search {
  top: 28px;
  right: 0;
}

#branded .simple_search input {
  outline: 1px solid #1a1e21;
  color: black;
  font-weight: normal;
  font-size: 10px !important;
  width: 146px;
}

.header_wrapper {
  width: 999px;
  margin: auto;
  position: relative;
}

/* FLYOUT MENU */

#branded #category_menu {
  top: 25px;
  left: 165px !important;
}

#branded #category_menu ul.categories li.level0item ul.items {
  margin: 3px 0px 0px 13px !important;
}

#branded #category_menu ul.categories li.level0item ul.items a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#branded #category_menu > div > ul > li > a {
  padding: 10px 14px 9px !important;
}

#branded #category_menu > div > ul > li > a.active {
  padding: 9px 13px 10px !important;
}

#branded #category_menu > div > ul > li > .active.no-flyout {
  padding: 10px 9px 9px !important;
}

#branded #category_menu .sub_category {
  top: 37px;
  max-height: 447px;
}

#branded #category_menu .sub_category .ul_wrapper {
  padding-bottom: 15px;
}

@-moz-document url-prefix()  {
  #branded #category_menu > div > ul > li > a.active {
    padding: 10px 13px 11px !important;
  }

  #branded .category_menu ul.categories li.level0item ul.items {
    margin: 3px 0px 0px 17px !important;
  }

  #branded .category_menu ul.categories li.level0item ul.items li {
    margin-top: -1px;
  }
}

/* CONTENT */

#branded .area {
  width: 1007px;
}

#branded #content {
  margin-top: -1px;
  width: 1007px;
}

.jj #branded.pt_brandstorefront .area {
  background: none !important;
}

/* category banner heading text */

.cat-banner-wrapper h1.catHeading {
  display: block !important;
  position: absolute;
  top: 126px;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 70px;
  font-family: "PFDinMono-Regular",'Univers_lt_cn', Helvetica, Arial, Verdana, sans-serif;
  text-shadow: 1px 1px 3px rgba(12, 12, 12, 0.8);
  text-transform: uppercase;
}

/* FOOTER */

#footer_global .contentasset .container_24 {
  width: 1007px;
}

/* End import from jj-5lines */

/* GENERAL STUFF */

#branded {
  background: white !important;
}

#branded .wrapper {
  background: url("../img/vintage/header-bg.jpg") repeat-x !important;
}

#branded.pt_brandstorefront .container_24 {
  background: #f8f6f3;
}

#branded.pt_brandstorefront .storefront8 .grid_24 {
  padding: 0px;
  margin-top: 0px;
  width: 1007px;
  margin-left: 0;
}

#branded .header {
  height: 75px;
  background: #f8f6f3 !important;
  border-bottom: 1px solid #CCC;
}

#branded .simple_search {
  top: 22px;
}

/* SUBBRAND TABS */

.tabscontainer .tabs .vintage {
  background: url("../img/subbrand-tabs/v-active.png") no-repeat center center transparent;
  background-color: #F8F6F3;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

/* MENU FLYOUT */

#branded #category_menu {
  top: 19px;
  left: -28px !important;
}

#branded #category_menu > div > ul > li > a {
  font-size: 15px;
  font-family: "RockwellStd";
  font-weight: normal;
}

#branded #category_menu > div > ul > li > a.active {
  padding: 9px 13px 10px !important;
}

#branded #category_menu .sub_category {
  top: 37px;
}

#branded .header .logo {
  width: 177px !important;
  height: 45px;
  background: url("../img/vintage/logo-v.jpg") no-repeat 100% !important;
  position: absolute;
  top: 64px;
  left: 11px;
}

#branded .header .logo a {
  width: 177px !important;
  height: 45px;
}

#branded .header .simple_search input {
  font-family: "CenturySchoolbookBT-Roman" !important;
  font-size: 12px;
  color: black;
  font-weight: normal;
  outline: 2px solid black;
  width: 132px;
}

#branded .category_menu ul.categories li.level0item {
  background: url("../img/premium/menu-triangle.jpg") no-repeat 96% center;
}

#branded .category_menu ul.categories li.level0item ul.items a {
  font-family: "RockwellStd";
  font-size: 15px;
}

#branded .category_menu ul.categories li.level0item ul.items li a {
  font-family: "RockwellStd" !important;
  font-weight: normal !important;
  font-size: 12px !important;
}

@-moz-document url-prefix()  {
  #branded #category_menu > div > ul > li > a.active {
    padding: 9px 13px 6px !important;
  }
}

/* SEPARATOR */

#branded.pt_brandstorefront .storefront8 .separator {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
  border-top: 8px solid black;
  min-height: 25px;
}

#branded.pt_brandstorefront .storefront8 .separator .caption {
  display: inline-block;
  margin-top: 6px;
  background: #f8f6f3;
  padding: 0 22px;
  font-size: 24px;
  font-family: "RockwellStd";
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#branded.pt_brandstorefront .storefront8 .separator.big .caption {
  font-family: "RockwellStd";
  font-size: 60px;
  text-transform: uppercase;
}

/* HERO ..maybe obsolete? */

#branded.pt_brandstorefront .storefront8 .hero {
  width: 619px;
  margin-right: 14px;
  float: left;
  overflow: auto;
}

#branded.pt_brandstorefront .storefront8 .hero h1 {
  padding: 0 20px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#branded.pt_brandstorefront .storefront8 .hero div.multi-column {
  padding: 20px;
  font-size: 14px;
}

#branded.pt_brandstorefront .storefront8 .hero .column p {
  padding-right: 40px;
}

#branded.pt_brandstorefront .storefront8 .hero .column p.last p {
  padding-right: 0;
}

#branded.pt_brandstorefront .storefront8 .hero p a {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  color: black;
}

/* SHOULDER ..maybe obsolete? */

#branded.pt_brandstorefront .storefront8 .shoulder {
  width: 367px;
  float: right;
  background: #f7f5e9;
}

#branded.pt_brandstorefront .storefront8 .shoulder .container {
  border: 1px solid black;
  margin: 10px;
  text-align: center;
  padding-bottom: 20px;
}

#branded.pt_brandstorefront .storefront8 .shoulder h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  margin-top: 30px;
}

#branded.pt_brandstorefront .storefront8 .shoulder h2 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0;
  line-height: 12px;
  text-align: center;
}

#branded.pt_brandstorefront .storefront8 .shoulder a.image img {
  width: auto;
}

#branded.pt_brandstorefront .storefront8 .shoulder a.pricetag {
  text-align: center;
  color: black;
  font-size: 20px;
  text-decoration: none !important;
}

#branded.pt_brandstorefront .storefront8 .shoulder .tip {
  font-size: 14px;
  margin: 20px 40px;
}

/* SLIDESHOW */

#branded .slideshow {
  min-height: 520px;
}

#branded .slideshow .bubble {
  background: url("../img/premium/bubble.jpg");
  width: 7px;
  height: 7px;
  background-position: 0 -7px;
  margin-right: 4px;
}

#branded .slideshow .bubble.active {
  background-position: 0 0;
}

#branded .slideshow .prev-btn,
#branded .slideshow .next-btn {
  background: url("../img/premium/prev-next.png");
  width: 30px;
  height: 41px;
  top: 44%;
}

#branded .slideshow .next-btn {
  background-position: 0 -41px;
}

#branded .slideshow #top-carousel {
  margin-bottom: 10px;
}

/* FEATURED PRODUCTS */

#branded .featured-products {
  overflow: hidden;
  width: 100%;
  margin-bottom: 12px;
}

#branded .featured-products .holder {
  overflow: auto;
  width: 10000px;
}

#branded .featured-products .arrow {
  width: 170px;
  height: 100%;
  position: absolute;
  top: 0;
}

#branded .featured-products .arrow.right {
  right: 0;
}

#branded .featured-products .arrow.right .btn {
  left: 0;
  background-position: 0 0;
}

#branded .featured-products .arrow .btn {
  position: absolute;
  top: 45%;
  height: 44px;
  width: 27px;
  background: url("../img/vintage/featured-products-arrow.png") no-repeat;
  right: 0;
  background-position: 0 -44px;
  cursor: pointer;
  visibility: hidden;
}

#branded .featured-products .slide {
  overflow: hidden;
  float: left;
  margin: 0 30px;
  height: 439px;
  width: 374px;
  visibility: hidden;
  position: relative;
}

#branded .featured-products .slide .content {
  float: left;
  margin-top: 46px;
  width: 0px;
  padding-left: 20px;
  width: 220px;
  position: absolute;
  top: 0;
  left: 374px;
}

#branded .featured-products .slide .content .price {
  font-family: "RockwellStd";
  font-size: 15px;
  text-align: center;
  display: block;
  margin-top: 32px;
  margin-bottom: 6px;
}

#branded .featured-products .slide.active {
  width: 614px;
}

#branded .featured-products .slide a.featured-image {
  float: left;
}

#branded .featured-products .slide a.buy {
  font-family: "RockwellStd";
  font-size: 14px;
  text-align: center;
  text-decoration: normal;
  display: block;
  color: black;
  letter-spacing: 1px;
}

#branded .featured-products .slide h1 {
  font-family: "RockwellStd";
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 23px;
  text-align: center;
  margin-bottom: 20px;
}

#branded .featured-products .slide p {
  text-align: left;
  font-family: "CenturySchoolbookBT-Roman";
  font-size: 14px;
  line-height: 20px;
}

/* OPLAEG */

#branded .oplaeg {
  padding: 5px 0;
  margin: 5px 0 30px;
  border-bottom: 1px solid black;
  position: relative;
  margin-top: 20px;
}

#branded .oplaeg .content {
  height: 650px;
  position: relative;
  width: 1007px;
  overflow: hidden;
  background-position: center center;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

#branded .oplaeg img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

#branded .oplaeg h1 {
  color: white;
  font-family: "RockwellStd";
  font-size: 60px;
  line-height: 71px;
}

#branded .oplaeg h1 small {
  font-size: 25px;
  line-height: 53px;
}

#branded .oplaeg .popup {
  position: absolute;
  text-align: center;
  color: black;
  display: none;
  background: white;
}

#branded .oplaeg .popup h1 {
  text-transform: uppercase;
  font-size: 12px !important;
  margin-top: 8px;
  padding: 0 8px;
  font-family: "GillSansMTStd-Medium" !important;
  line-height: 15px;
  color: black;
}

#branded .oplaeg .popup p {
  margin: 0 0 6px !important;
  padding: 0 !important;
  font-weight: normal;
  font-size: 12px !important;
  -webkit-column-count: 1 !important;
  -moz-column-count: 1 !important;
  -ms-column-count: 1 !important;
  -o-column-count: 1 !important;
  column-count: 1 !important;
}

/* WORDPRESS */

#branded .storefront7 #wp-container {
  overflow: auto;
}

#branded .storefront8 .wp-sidebar {
  width: 250px;
  margin: 5px 0 0 5px;
  position: absolute;
  right: 1px;
  top: 498px;
}

#branded .storefront8 .wp-sidebar .wp-sidebar-top {
  text-align: center;
  padding: 30px 0;
  font-family: "RockwellStd";
  font-size: 18px;
  text-transform: uppercase;
}

#branded .storefront8 .wp-sidebar .wp-title {
  margin: 10px 0 0;
  padding: 0 30px 0 30px;
  font-family: "CenturySchoolbookBT-Roman";
  font-size: 12px;
  text-align: center;
  background-position: bottom;
  background-repeat: repeat-x;
  font-style: italic;
}

#branded .storefront8 .wp-sidebar .wp-title .wp-clickable {
  border: 1px solid #f3f1ee;
  padding: 10px 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#branded .storefront8 .wp-sidebar .wp-title:hover .wp-clickable,
#branded .storefront8 .wp-sidebar .wp-title.active .wp-clickable {
  border: 1px solid black;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#branded .storefront8 .wp-sidebar .wp-title .month {
  font-family: "CenturySchoolbookBT-Roman";
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
  padding-bottom: 5px;
}

#branded .storefront8 .wp-sidebar .wp-title .band {
  text-transform: uppercase;
  font-style: normal;
}

#branded .storefront8 .wp-canvas {
  width: 1009px;
  float: left;
  font-size: 18px;
  min-height: 870px;
  background: url("../img/vintage/wordpress-bg.jpg") no-repeat;
  background-position: 0 515px;
  margin-bottom: 50px;
  margin-top: 22px;
}

#branded .storefront8 .wp-canvas .slideshow img {
  width: 1009px;
}

#branded .storefront8 .wp-canvas .wp-slide {
  margin-bottom: 20px;
}

#branded .storefront8 .wp-canvas .wp-slide img {
  width: 1009px;
}

#branded .storefront8 .wp-canvas .player {
  padding-bottom: 10px;
  padding-left: 1px;
  height: 500px;
}

#branded .storefront8 .wp-canvas .player-band,
#branded .storefront8 .wp-canvas .player-song {
  position: absolute;
  top: 300px;
  color: white;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "CourierLTCYR-Regular";
  font-size: 40px;
  cursor: pointer;
  pointer-events: none;
  display: none !important;
}

#branded .storefront8 .wp-canvas .player-song {
  top: 347px;
  font-family: "RockwellStd";
  font-size: 20px;
  text-decoration: none;
}

#branded .storefront8 .wp-canvas .content {
  padding-right: 251px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#branded .storefront8 .wp-canvas .content .gallery {
  display: none;
  overflow: hidden;
  background: url("../img/vintage/wordpress-gallery-bg.jpg") repeat-x;
  height: 352px;
  position: relative;
}

#branded .storefront8 .wp-canvas .content .gallery .container {
  width: 99999px;
  margin-top: 30px;
}

#branded .storefront8 .wp-canvas .content .gallery img {
  float: left;
  margin-right: 85px;
}

#branded .storefront8 .wp-canvas .content .gallery .arrow {
  position: absolute;
  top: 46%;
  left: 798px;
  background: url("../img/vintage/wordpress-gallery-arrow.png") no-repeat;
  width: 27px;
  height: 44px;
  cursor: pointer;
}

#branded .storefront8 .wp-canvas .content .gallery .arrow.left {
  background-position: 0 -44px;
  left: 224px;
}

#branded .storefront8 .wp-canvas .content .column p {
  padding: 10px 20px 0;
  font-family: "CenturySchoolbookBT-Roman";
  font-size: 14px;
  margin: 0;
}

#branded .storefront8 .wp-canvas .content .column p strong {
  text-transform: uppercase;
}

#branded .storefront8 .wp-canvas .content .column p a {
  color: black;
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#branded .storefront8 .wp-canvas .content .column p a:hover {
  color: #666 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#branded .wp-canvas .slideshow {
  min-height: 500px;
}

/* category banner heading text */

.cat-banner-wrapper h1.catHeading {
  font-size: 70px;
  font-family: "RockwellStd";
  text-transform: uppercase;
  font-weight: bold;
  background: url("../img/vintage/catbanner-h1-background.jpg") bottom center no-repeat !important;
  padding-bottom: 34px;
}

.cat-banner-wrapper div.catLogo {
  background: url("../img/vintage/catbannerLogo.png") right 0 no-repeat !important;
  width: 1007px;
  height: 51px;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -503px;
}