@import 'compass';
@import 'vars';
@import 'mixins';

@import url("../../css/jack-jones.css");

/* Imported from jj-shared */

@import 'jj-shared';

/* End import from jj-shared */

*::selection {
    background: #a8d1ff !important;
    /* Pink selection! What r u doin? STAHP! */
    /* Pink is teh color of bacon! WIN! */
}
*::-moz-selection {
    background: #a8d1ff !important;
}

.soft-intro {
    visibility: hidden;
}

/* HEADER */

#branded .wrapper, 
#branded .header { 
    background: none !important;
}

#branded {
    .header { 
        height: 75px;
        left: 0;
        width: 100%  !important;

        .logo {
            display: none;
        }
    }

    .simple_search {
        top: 28px;
        right: 0;

        input {
            outline: 1px solid #1a1e21;
            color: black;
            font-weight: normal;
            font-size: 10px !important;
            width: 146px;
        }
    }
}

.header_wrapper  {
    width: 999px;
    margin: auto;
    position: relative;
}

/* FLYOUT MENU */

#branded #category_menu {
    top: 25px;
    left: 165px!important;

    ul.categories li.level0item ul.items {
        margin: 3px 0px 0px 13px !important;

        a {
            @include transition(all, .3s);
        }
    }

    > div > ul > li {
        > a {
            padding: 10px 14px 9px !important;

            &.active {
                padding: 9px 13px 10px !important;
            }
        }

        > .active.no-flyout {
            padding: 10px 9px 9px !important;
        }
    }

    .sub_category {
        top: 37px;
        max-height: 447px;

        .ul_wrapper {
            padding-bottom: 15px;
        }
    }
}

@-moz-document url-prefix() { 
    #branded #category_menu > div > ul > li > a.active {
        padding: 10px 13px 11px !important;
    }
    
    #branded .category_menu ul.categories li.level0item ul.items {
        margin: 3px 0px 0px 17px !important;

        li {
            margin-top: -1px;
        }
    }
}

/* CONTENT */

#branded .area{
    width: 1007px;
}
#branded #content{
    margin-top: -1px;
    width: 1007px;
}
.jj #branded.pt_brandstorefront .area {
    background: none !important;
}
/* category banner heading text */
.cat-banner-wrapper h1.catHeading {
    display: block !important;
    position: absolute;
    top: 126px;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 70px;
    font-family: 'Univers_lt_cn', Helvetica, Arial, Verdana, sans-serif;
    text-shadow: 1px 1px 3px rgba(12, 12, 12, .8);
    text-transform: uppercase;
}

/* FOOTER */

#footer_global .contentasset .container_24 {
    width: 1007px;
}
