@import 'compass';
@import 'vars';
@import 'mixins';

/* Import from jj-5lines */

@import "jj-5lines";

/* End import from jj-



/* GENERAL STUFF */

#branded {
    background-image: url("../img/wrapper-bg.jpg") !important;
    
    .wrapper {
        //background: url("../img/tech/wrapper-bg.jpg") repeat-x !important;
    }

    &.pt_brandstorefront {
        .container_24 {
            background: white;
        }

        .storefront8 .grid_24 {
            padding: 0px;
            margin-top: 0px;
            width: 1007px;
            margin-left: 0;
        }
    }

    .header {
        height: 75px;
        border-bottom: 1px solid #CCC;

        .simple_search input {
            outline: 1px solid black;
        }
    }

    .simple_search {
        top: 26px;
    }
}

.minicart {
    right: -5px !important;
}

/* SUBBRAND TABS */


.tabscontainer .tabs .tech {
    background:url('../img/subbrand-tabs/t-active.png') no-repeat center center transparent;
    background-color: white;
    @include opacity(1, isImportant);
}

#branded #category_menu {
    left: -28px !important;
}

/* MENU FLYOUT */

#branded {
    .header {
        background: white url("../img/tech/header-bg.jpg") no-repeat 0 63px !important;

        .logo {
            width: 138px !important;
            height: 28px;
            background: url("../img/tech/logo-t.jpg") no-repeat 100% !important;
            position: absolute;
            top: 54px;
            left: 10px;

            a {
                width: 138px !important;
                height: 28px;
            }
        }

        .simple_search input {  
            font-family:"Gill Sans W01 Bold" !important;
            font-size: 12px;
            color: black;
            font-weight: normal;
        }
    }

    #category_menu {
        top: 22px;
        left: -32px !important;

        ul.categories li.level0item {
            background: url("../img/premium/menu-triangle.jpg") no-repeat 96% center;

            ul.items {
                font-size: 14px;
                font-family:"Avenir LT W02 85 Heavy";
                font-weight: normal;
                
                a {
                    font-family:"Avenir LT W01 55 Roman";
                    font-size: 15px;
                }

                li a {
                    font-family:"Avenir LT W01 55 Roman" !important;
                    font-weight: normal !important;
                    font-size: 12px !important;
                }
            }
        }

        > div > ul > li > a.active {
            padding: 9px 13px 9px !important;
        }

        .sub_category {
            top: 36px;
        }
    }
}

@-moz-document url-prefix() { 
    #branded #category_menu > div > ul > li > a.active {
        padding: 9px 13px 8px !important;
    }
}

/* SLIDESHOW */

#branded {
    .slideshow {
        min-height: 500px;

        .bubble {
            background: url("../img/tech/bubble.png");
            width: 13px;
            height: 13px;
            background-position: 0 -13px;
            margin-right: 4px;
        }

        .prev-btn, 
        .next-btn {
            background: url("../img/tech/prev-next.png");
            width: 30px;
            height: 41px;
            top: 44%;
            background-position: 0 0;
            cursor: pointer;
            position: absolute;
        }

        .next-btn {
            background-position: 0 -41px;
        }

        .controls {
            margin-top: -23px;
        }
    }

    #top-carousel {
        margin-bottom: 10px;
    }
}

/* WORDPRESS */

#branded {
    #wp-container {
        width: 1009px;
        margin: auto;
        position: relative;
        overflow: auto;
        min-height: 930px;
    }

    .wp-sidebar {
        width: 250px;
        margin: 5px 0 0 5px;
        position: absolute;
        right: 1px;
        top: 470px;
        background: url("../img/tech/dotted-v.jpg") left repeat-y;

        .wp-sidebar-top {
            text-align: center;
            padding: 20px 0 20px 18px;
            font-family:"Avenir LT W01 55 Roman";
            font-size: 16px;
            text-transform: uppercase;
            background: url("../img/tech/dotted-h.jpg") 1px bottom repeat-x;
            text-align: left;
        }

        .wp-title {
            margin:  0;
            padding: 0 0 2px 2px;
            font-family:"Avenir LT W01 55 Roman";
            font-size: 14px;
            text-align: left;
            background-position: bottom;
            background-repeat: repeat-x;
            background: url("../img/tech/dotted-h.jpg") 1px bottom repeat-x;

            .title{
                font-family:"Avenir LT W02 85 Heavy";
                margin-bottom: 5px;
            }

            .wp-clickable {
                border: 0 none;
                padding: 37px 9px 27px 15px;
                text-transform: uppercase;
                @include transition(all .2s);
            }

            &:hover .wp-clickable, 
            &.active .wp-clickable {
                cursor: pointer;
                background: #f2f2f2;
                @include transition(all .2s);
            }

            .month {
                font-family:"Rockwell W01 Bold";
                text-transform: uppercase;
                font-style: normal;
                padding-bottom: 5px;
            }

            .band {
                text-transform: uppercase;
                font-style: normal;
            }
        }
    }

    .wp-canvas {
        width: 1009px;
        float: left;
        font-size: 18px;
        font-family:"ClassicalGaramondW01-Ro";
        min-height: 870px;
        background-position: 0 515px;
        margin-bottom: 50px;
        margin-top: 13px;

        .slideshow {
            min-height: 450px;

            img {
                width: 1009px;
            }
        }

        .wp-slide {
            margin-bottom: 20px;

            img{
                width: 1009px;
            }
        }

        .player {
            padding-bottom: 10px;
            padding-left: 1px;
            height: 500px;
        }

        .player-band, 
        .player-song {
            position: absolute;
            top: 300px;
            color: white;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            text-decoration: underline;
            font-family:"Courier PS W01 Bold";
            font-size: 40px;
            cursor: pointer;
            pointer-events: none;
        }

        .player-song {
            top: 347px;
            font-family:"Rockwell W02";
            font-size: 20px;
            text-decoration: none;
        }

        .content {
            padding-right: 271px;
            padding-bottom: 10px;
            padding-top: 10px;
            min-height: 410px;

            .gallery {
                display: none;
            }

            .column {
                p {
                    padding: 10px 20px 0;
                    font-family:"Avenir LT W01 55 Roman";
                    font-size: 14px;
                    text-indent:23px;
                    margin: 0;
                    line-height: 21px;
                    text-align: justify;

                    strong {
                        text-transform: uppercase;
                    }

                    a {
                        color: black;
                        text-decoration: none;
                        margin-left: -22px;
                        font-weight: bold;
                        @include transition(all .3s);

                        &:hover {
                            color: #666 !important;
                            @include transition(all .3s);
                        }
                    }
                }

                blockquote p {
                    text-align: left;
                    font-size: 18px;
                    text-transform: uppercase;
                    background: url("../img/tech/quote-bg.jpg") left no-repeat;
                    font-weight: normal;
                    text-indent:0;
                    line-height: 21px;
                    padding-left: 70px;
                    margin: 20px 0;
                    min-height: 39px;
                }
            }

            .gallery {
                overflow: hidden;
                background: url("../img/vintage/wordpress-gallery-bg.jpg") repeat-x;
                height: 352px;
                position: relative;

                .container {
                    width: 99999px;
                    margin-top: 30px;
                }

                img {
                    float: left;
                    margin-right: 85px;
                }

                .arrow {
                    position: absolute;
                    top: 46%;
                    left: 767px;
                    background: url("../img/vintage/wordpress-gallery-arrow.png") no-repeat;
                    width: 27px;
                    height: 44px;
                    cursor: pointer;

                    &.left {
                        background-position: 0 -44px;
                        left: 215px;
                    }
                }
            }
        }

        .heading {
            margin: 20px 0 20px 15px;
            border-bottom: 1px solid black;
            position: relative;
            width: 700px;

            h1 {
                margin-bottom: 18px;
                font-family:"Avenir LT W01 55 Roman";
                font-weight: normal;
                font-size: 29px;
                text-transform: uppercase;
                text-align: left;
            }

            h2 {
                position: absolute;
                top: 25px;
                background: white;
                left: 29px;
                padding: 0 10px;
                font-family:"Avenir LT W02 85 Heavy";
                font-weight: bold;
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }
}

/* composition */

.composition-wrapper {
    width: 100%;
    background: #f9f9f9;
}

.composition {
    width: 1004px;
    overflow: auto;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 90px;

    img {
        @include opacity(0);
    }
}

#footer_global {
    .lower.container_24 {
        margin-bottom: 0px;
    }

    .contentasset .container_24 {
        background: transparent !important;
    }
}

/* featured products */

#featured {
    padding: 0px !important;

    .holder {
        width: 1007px;
        height: 612px;
        margin: auto;
        overflow: hidden;
        position: relative;
        @include opacity(0);

        &.idleNoMore {
            filter:0;
            @include opacity(1);
        }
    }

    .spotlight {
        width: 757px;
        height: 614px;
        float: left;
        text-align: left;
        overflow: hidden;
        display: none;

        &.active {
            display: block;
        }
    }

    .left {
        width: 464px;
        float: left;
    }

    .right {
        width: 216px;
        float: right;
        padding-top: 54px;
        margin-right: 35px;

        h1 {
            font-family:"Avenir LT W01 55 Roman";
            font-size: 32px;
            text-transform: uppercase;
            color: #b8c5cc;
            margin-bottom: 10px;
        }

        .price {
            font-family:"Avenir LT W01 55 Roman";
            font-size: 22px;
            color: black;
            margin-bottom: 30px;
        }

        .description {
            font-family:"Avenir LT W01 55 Roman";
            font-size: 14px;
            color: #1b2226;
            line-height: 21px;
        }

        .buyNow {
            font-family:"Avenir LT W01 55 Roman";
            padding: 7px 10px;
            background: black;
            color: white;
            font-size: 12px;
            text-decoration: none !important;
            margin-top: 30px;
            display: inline-block;  
        }
    }

    .shoulder {
        width: 250px;
        height: 612px;
        overflow: hidden;
        background: url("../img/tech/featured-shoulder-bg.jpg") repeat-y;
        position: absolute;
        right: 0;

        .thumb {
            cursor: pointer;
            display: none;
            margin-bottom: 33px;

            &.active {
                display: block;
            }

            .price {
                margin-top: -12px;
                font-family:"Avenir LT W01 55 Roman";
                font-size: 18px;
            }
        }
    }
}


/* category banner heading text */

.cat-banner-wrapper {
    h1.catHeading {
        font-size: 60px;
        font-family:"Avenir LT W01 55 Roman";
        text-transform: uppercase;
    }

    div.catLogo {
        background: url("../img/tech/catbannerLogo.png") left 0 no-repeat !important;
        width: 1007px;
        height: 32px;
        position: absolute;
        top: 15px;
        left: 50%;
        margin-left: -503px;
    }
}
