
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=8af1257f-2ad2-4b52-89b9-d6867932cc4b");
@font-face{
font-family:"Avenir LT W01 55 Roman";
src:url("../fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix");
src:url("../fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix") format("eot"),url("../fonts/b9ebb19d-88c1-4cbd-9baf-cf51972422ec.woff") format("woff"),url("../fonts/5ed4f98e-9044-4810-88ff-74d412c1351f.ttf") format("truetype"),url("../fonts/4cb16859-16ca-4342-b89c-292dc83266af.svg#4cb16859-16ca-4342-b89c-292dc83266af") format("svg");
}
@font-face{
font-family:"Avenir LT W02 85 Heavy";
src:url("../fonts/e9427e66-afa8-4ceb-bb31-7a970fb469ea.eot?#iefix");
src:url("../fonts/e9427e66-afa8-4ceb-bb31-7a970fb469ea.eot?#iefix") format("eot"),url("../fonts/748da442-9dd9-4a4d-8da0-b114e16e5d7f.woff") format("woff"),url("../fonts/6beeeb66-0b4e-4162-8788-8bf688b9829a.ttf") format("truetype"),url("../fonts/8afe744b-89a2-4ae2-a88e-05c6882580f3.svg#8afe744b-89a2-4ae2-a88e-05c6882580f3") format("svg");
}
@font-face{
font-family:"Gill Sans W01 Medium";
src:url("../fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?#iefix");
src:url("../fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?#iefix") format("eot"),url("../fonts/cd5a93fc-2bb1-48df-8982-11119cd6e270.woff") format("woff"),url("../fonts/b6bdc93b-2720-4c92-b68d-48499456178e.ttf") format("truetype"),url("../fonts/944cce8d-20bf-41c1-ae29-2bc8199859db.svg#944cce8d-20bf-41c1-ae29-2bc8199859db") format("svg");
}




@font-face{
font-family:"Gill Sans W01 Bold";
src:url("../fonts/1a6dec8e-26f9-4243-8495-835709538f92.eot?#iefix");
src:url("../fonts/1a6dec8e-26f9-4243-8495-835709538f92.eot?#iefix") format("eot"),url("../fonts/f05272f9-83e3-4de6-8423-5d57f730c87b.woff") format("woff"),url("../fonts/33f5d8d9-105f-4a49-9351-74ecae7f4a49.ttf") format("truetype"),url("../fonts/b56150eb-5caa-4385-b907-373e97ddb2ff.svg#b56150eb-5caa-4385-b907-373e97ddb2ff") format("svg");
}
@font-face{
font-family:"Gill Sans W01 Light";
src:url("../fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?#iefix");
src:url("../fonts/acd8a043-828c-4c2c-98cb-b5224f5d4cdb.eot?#iefix") format("eot"),url("../fonts/c56da29d-9c5b-4d94-900f-770cde3dd317.woff") format("woff"),url("../fonts/378182d1-8021-4674-a814-cc8f01f9a937.ttf") format("truetype"),url("../fonts/d8851d95-478d-47a9-a0b0-a8d8e4ca127a.svg#d8851d95-478d-47a9-a0b0-a8d8e4ca127a") format("svg");
}
@font-face{
font-family:"Futura W01 Book";
src:url("../fonts/57a6731b-fa5c-4c8a-bea8-e2f1a287f309.eot?#iefix");
src:url("../fonts/57a6731b-fa5c-4c8a-bea8-e2f1a287f309.eot?#iefix") format("eot"),url("../fonts/4d0e252c-d811-4a5d-a7f3-6ad72c6b76f2.woff") format("woff"),url("../fonts/54250d43-02be-4ff9-b802-a4ea104a0611.ttf") format("truetype"),url("../fonts/15c556fc-4608-4b01-8a0d-9c8631c8bd74.svg#15c556fc-4608-4b01-8a0d-9c8631c8bd74") format("svg");
}

@font-face{
font-family:"Futura T W01 Demi";
src:url("../fonts/8cf73ab1-ef04-4560-9a10-cd3c52cd52cd.eot?#iefix");
src:url("../fonts/8cf73ab1-ef04-4560-9a10-cd3c52cd52cd.eot?#iefix") format("eot"),url("../fonts/8de100cc-ca83-4b65-ba39-b6fe95796d07.woff") format("woff"),url("../fonts/bb513434-4ba1-48db-bcfa-2d2551e53168.ttf") format("truetype"),url("../fonts/3ee2b6cf-704a-45ec-bf80-d253b7396313.svg#3ee2b6cf-704a-45ec-bf80-d253b7396313") format("svg");
}

@font-face{
font-family:"Courier W01 Light";
src:url("../fonts/89ccc4c7-a468-4eda-8a77-5041d83d561a.eot?#iefix");
src:url("../fonts/89ccc4c7-a468-4eda-8a77-5041d83d561a.eot?#iefix") format("eot"),url("../fonts/d9ca05ea-f9d1-47d0-a7d8-8e7f9eb9b016.woff") format("woff"),url("../fonts/9cb0e035-da94-4df1-9a9f-4b4087fdc2dc.ttf") format("truetype"),url("../fonts/da0832f2-bece-4bdc-9d33-2c94922a4bbf.svg#da0832f2-bece-4bdc-9d33-2c94922a4bbf") format("svg");
}




@font-face{
font-family:"ClassicalGaramondW01-Ro";
src:url("../fonts/ae8b4b78-7fc4-4bec-9913-ee5aaa0daac9.eot?#iefix");
src:url("../fonts/ae8b4b78-7fc4-4bec-9913-ee5aaa0daac9.eot?#iefix") format("eot"),url("../fonts/f86c90ab-c6a6-41d8-b869-123a4c45e57a.woff") format("woff"),url("../fonts/a5972d85-7da6-4650-9aac-19936b2c450f.ttf") format("truetype"),url("../fonts/90748b9a-e7ca-44f7-8ce6-5da2d5ffd61c.svg#90748b9a-e7ca-44f7-8ce6-5da2d5ffd61c") format("svg");
}
@font-face{
font-family:"ClassicalGaramondW01-Bo 1119390";
src:url("../fonts/4269936f-4dde-482e-ad10-e48568b6711e.eot?#iefix");
src:url("../fonts/4269936f-4dde-482e-ad10-e48568b6711e.eot?#iefix") format("eot"),url("../fonts/ea6c4f29-0d14-4230-aa3c-4ff004346a39.woff") format("woff"),url("../fonts/3915d0cc-b5de-4485-90cf-404c68ea780b.ttf") format("truetype"),url("../fonts/83f277bd-ad82-4742-81b4-ec8c7820fc0e.svg#83f277bd-ad82-4742-81b4-ec8c7820fc0e") format("svg");
}
@font-face {
   font-family: "Freeway Gothic"; 
   src: url("../fonts/FWYGOTH.TTF") format("truetype"); 
}


@font-face{
font-family:"Rockwell W02";
src:url("../fonts/ae0e1f8a-f20d-412d-9948-3ac6f314eb3d.eot?#iefix");
src:url("../fonts/ae0e1f8a-f20d-412d-9948-3ac6f314eb3d.eot?#iefix") format("eot"),url("../fonts/2d1664e5-853a-447f-a8bb-64dcb9e3ba18.woff") format("woff"),url("../fonts/20ec3f06-bfa9-4c4d-b9ec-1860d99752a2.ttf") format("truetype"),url("../fonts/0a7cfc77-5c20-4a9d-9288-8028d2bf90f2.svg#0a7cfc77-5c20-4a9d-9288-8028d2bf90f2") format("svg");
}
@font-face{
font-family:"Rockwell W01 Bold";
src:url("../fonts/864373f8-943b-449d-a730-462eb66d7058.eot?#iefix");
src:url("../fonts/864373f8-943b-449d-a730-462eb66d7058.eot?#iefix") format("eot"),url("../fonts/49ff3af5-13b2-4add-8470-4cdac3cf650e.woff") format("woff"),url("../fonts/7d69578b-ab0e-4986-af19-428861ada4e4.ttf") format("truetype"),url("../fonts/2848532f-bf3e-4430-aae1-bc0d1367eb84.svg#2848532f-bf3e-4430-aae1-bc0d1367eb84") format("svg");
}

@font-face{
font-family:"CenturySchoolbookW01-Re";
src:url("../fonts/b9e66030-805a-4a8c-b9b8-318d697094b4.eot?#iefix");
src:url("../fonts/b9e66030-805a-4a8c-b9b8-318d697094b4.eot?#iefix") format("eot"),url("../fonts/25b87865-a7cc-458b-84fb-f6b963f30929.woff") format("woff"),url("../fonts/0c8c5f42-b950-4cdc-9cfa-dabf7f045bb0.ttf") format("truetype"),url("../fonts/7845c29b-39ef-4fcd-b088-fa4a6d4eacb4.svg#7845c29b-39ef-4fcd-b088-fa4a6d4eacb4") format("svg");
}
@font-face{
font-family:"CenturySchoolbookW01-Bo";
src:url("../fonts/ba87bf1d-7c52-45c8-bafd-42bc9eff8c21.eot?#iefix");
src:url("../fonts/ba87bf1d-7c52-45c8-bafd-42bc9eff8c21.eot?#iefix") format("eot"),url("../fonts/4f1347e2-f89c-459b-9898-b474ae3a6a97.woff") format("woff"),url("../fonts/c22d501f-42da-4de0-982f-7766cdc7353b.ttf") format("truetype"),url("../fonts/c14e0721-9186-4e55-b3a0-d5f3169fd625.svg#c14e0721-9186-4e55-b3a0-d5f3169fd625") format("svg");
}
@font-face{
font-family:"Courier PS W01 Bold";
src:url("../fonts/da095d93-5c25-4d45-a68f-4f19db0aef09.eot?#iefix");
src:url("../fonts/da095d93-5c25-4d45-a68f-4f19db0aef09.eot?#iefix") format("eot"),
url("../fonts/efd0fef7-ed83-4012-b060-f28866bb2ad7.woff") format("woff"),
url("../fonts/af152df9-89c7-40f6-bd8d-9cce66527319.ttf") format("truetype"),
url("../fonts/4840095b-5132-44c9-878d-33b0812edfb8.svg#4840095b-5132-44c9-878d-33b0812edfb8") format("svg");
}



@font-face{
font-family:"DIN Next W01 Regular";
src:url("../fonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix");
src:url("../fonts/da088ecc-a53c-4831-a95b-6fd81b5b338a.eot?#iefix") format("eot"),url("../fonts/c5a7f89e-15b6-49a9-8259-5ea665e72191.woff") format("woff"),url("../fonts/868c94b5-ca49-46b7-b62b-297f8d861125.ttf") format("truetype"),url("../fonts/e3145f65-29b5-4f7f-8c6e-2dc135021b6a.svg#e3145f65-29b5-4f7f-8c6e-2dc135021b6a") format("svg");
}


@font-face{
font-family:"DIN Next W01 Bold";
src:url("../fonts/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix");
src:url("../fonts/b32ab78b-6c51-4bd3-bc37-4edcec0331f8.eot?#iefix") format("eot"),url("../fonts/9949035f-6226-4080-a14a-bf7d94ffb1e1.woff") format("woff"),url("../fonts/6241bd09-15c2-485e-9796-9db8d0aa6974.ttf") format("truetype"),url("../fonts/af94da3e-4232-416a-b6bc-f39f85dd5db6.svg#af94da3e-4232-416a-b6bc-f39f85dd5db6") format("svg");
}