#branded {
	background-image: none;
}

/* SLIDES */
.brand_slides .brand_slide {
	float: left;
	margin-right: 13px;
	margin-bottom: 30px;
	position: relative;
	width: 190px;
	height: 350px;
	overflow: hidden;
	cursor: pointer;
	opacity: 0;
}
@media only screen and (device-width: 768px) {
	.brand_slides .brand_slide {
		opacity: 1;
	}
}
.ie8 .brand_slides .brand_slide {
	margin-bottom: 30px !important;
	margin-top: 0px !important;
	height: 350px !important;
	filter: none !important;
}
.ie8 .brand_slides .brand_slide .logo {
	margin-top: 0px !important;
}
.brand_slides .brand_slide img {
	margin-top: -15px;
}
.brand_slides .brand_slide img.logo {
	position: absolute;
	margin-top: 0;
}
.brand_slides .brand_slide.last {
	margin-right: 0;
}
.brand_slides h1 {
	font-family:"DIN Next W01 Regular";
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.brand_slides .brand_disclaimer {
	clear: both;
	border: 1px solid #e0e0e0;
	padding: 11px 0 19px;
	font-family:"DIN Next W01 Regular";
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	background: url('../img/truck.jpg') no-repeat 10px center transparent;
}

/* SOCIAL SLOTS */

.social_slot h1 {
	font-family:"DIN Next W01 Regular";
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	letter-spacing: 1px;
	margin-bottom: 11px;
	text-transform: uppercase;
}
.social_slot h2 {
	font-family:"DIN Next W01 Regular";
	font-size: 15px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 25px;
	text-transform: uppercase;
	margin-right: 2px;
}
.social_slot h2 .jsGAVirtualPageview span {
	visibility: hidden;
}
.social_slot .media {
	width: 177px;
	border: solid 1px #cac9c9;
	padding: 11px 0px 11px 20px;
	margin-right: 2px;
	text-transform: uppercase;
	text-align: center;
	float: left;
	cursor: pointer;
	margin-bottom: 40px;
	color: black;
	text-decoration: none;
	background-color: #FFF;
	transition: all .1s;
	-moz-transition: all .1s; /* Firefox 4 */
	-webkit-transition: all .1s; /* Safari and Chrome */
	-o-transition: all .1s; /* Opera */
}
.social_slot .media.fb {
	background: url('../img/social_fb_off.png') no-repeat 15px center transparent;
}
.social_slot .media.twitter {
	background: url('../img/social_twitter_off.png') no-repeat 15px center transparent;
}
.social_slot .media.youtube {
	background: url('../img/social_youtube_off.png') no-repeat 15px center transparent;
}
.social_slot .media.instagram {
	background: url('../img/social_instagram_off.png') no-repeat 15px center transparent;
}
.social_slot .media.pinterest {
	background: url('../img/social_pinterest_off.png') no-repeat 15px center transparent;
}
.social_slot .media.google {
	background: url('../img/social_google_off.png') no-repeat 15px center transparent;
}
.social_slot .media.fb:hover {
	background: url('../img/social_fb_on.png') no-repeat 15px center #191919;
}
.social_slot .media.twitter:hover {
	background: url('../img/social_twitter_on.png') no-repeat 15px center #191919;
}
.social_slot .media.youtube:hover {
	background: url('../img/social_youtube_on.png') no-repeat 15px center #191919;
}
.social_slot .media.instagram:hover {
	background: url('../img/social_instagram_on.png') no-repeat 15px center #191919;
}
.social_slot .media.pinterest:hover {
	background: url('../img/social_pinterest_on.png') no-repeat 15px center #191919;
}
.social_slot .media.google:hover {
	background: url('../img/social_google_on.png') no-repeat 15px center #191919;
}
.social_slot .media:hover {
	color: white;
	background-color: #191919;
	transition: all .2s;
	-moz-transition: all .2s; /* Firefox 4 */
	-webkit-transition: all .2s; /* Safari and Chrome */
	-o-transition: all .2s; /* Opera */
}
.social_slot h2 #footer-newsletter-signup {
	width: 260px;
	float: right;
	display: inline-block;
}
.social_slot h2 #footer-newsletter-signup label {
	display: none;
}

.social_slot h2 #footer-newsletter-signup #newslettersignup {
	display: inline-block;
	float: left;
	border-right: 0 none;
	font-family: "DIN Next W01 Regular";
	font-size: 14px;
	font-weight: normal;
	width: 220px;
	padding-top: 10px;
	height: 13px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.social_slot h2 #footer-newsletter-signup button {
	border: 1px solid #ccc;
	display: inline-block;
	float: right;
	border-left: 0 none;
	height: 30px;
	background: url('../img/newsletter-arrow.jpg') no-repeat center center white;
	width: 25px;
}

/* FEATURED SPOTS */

.frontpage_spots h1 {
	font-family:"DIN Next W01 Regular";
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 14px 0 10px;
}
.frontpage_spots {
	width: 1017px;
	margin-left: -12px;
	overflow: auto;
}
.frontpage_spots .spot {
	float: left;
	margin-left: 12px;
	margin-bottom: 12px;
	position: relative;
	filter: alpha(opacity=100); 
	opacity: 0;
}
@media only screen and (device-width: 768px) {
	.frontpage_spots .spot {
		opacity: 1;
	}
}
.frontpage_spots .spot a {
	width: 327px;
	height: 283px;
	overflow: hidden;
	display: block;
}
.frontpage_spots .spot .white {
	color: white;
}
.frontpage_spots .spot img {
	margin-top: -5px;
}
.frontpage_spots .spot h1 {
	width: 100%;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	font-family: "DIN Next W01 Bold";
	font-size: 16px;
	letter-spacing: 0;
	text-transform: uppercase;
	margin: 23px auto 0;
}
.frontpage_spots .spot h2 {
	width: 100%;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	margin: -11px auto 0;
	font-family: "DIN Next W01 Regular";
}
.frontpage_spots .spot h3 {
	display: none;
}
.frontpage_spots .spot .line {
	background: url('../img/spot-line.jpg') no-repeat center bottom;
	width: 73px;
	height: 1px;
	position: absolute;
	top: 269px;
	left: 50%;
	margin-left: -37px;
}
.frontpage_spots .spot a .label{
	background: white;
	position: absolute;
	bottom: 0;
	height: 93px;
	width: 100%;
}

/* BOTTOM NAV */

.flyout2.dropdown_3columns {
	float: left;
	width: 251px;
	text-align: center;
}
.flyout2.dropdown_3columns .col_1 {
	text-align: left;
	margin-left: 0;
	margin-bottom: 20px;
}
.flyout2.dropdown_3columns .col_1 li {
	list-style: none !important;
}
.flyout2.dropdown_3columns .col_1 a {
	font-family:"DIN Next W01 Regular";
	font-size: 16px;
	color: black;
	text-decoration: none;
	margin-bottom: 4px;
	display: inline-block;
	transition: all .3s;
	-moz-transition: all .3s; /* Firefox 4 */
	-webkit-transition: all .3s; /* Safari and Chrome */
	-o-transition: all .3s; /* Opera */
}
.flyout2.dropdown_3columns .col_1 a:hover {
	color: #666 !important;
	transition: all .3s;
	-moz-transition: all .3s; /* Firefox 4 */
	-webkit-transition: all .3s; /* Safari and Chrome */
	-o-transition: all .3s; /* Opera */
}
.flyout2.dropdown_3columns .col_1 .main_category {
	text-transform: uppercase;
	margin-bottom: 18px;
	font-weight: bold;
	margin-top: 26px;
	text-align: center;
}
.flyout2.dropdown_3columns .col_1 ul {
	margin-left: 69px;
}

/* SLIDESHOW*/

#branded .slideshow {
	min-height: 420px;
	margin-top: 22px;	
}
#branded .slideshow .bubble {
	background: url("../img/premium/bubble.jpg");
	width: 7px;
	height: 7px;
	background-position: 0 -7px;
	margin-right: 4px;
}
#branded .slideshow .prev-btn, #branded .slideshow .next-btn {
	background: url("../img/premium/prev-next.png");
	width: 30px;
	height: 41px;
	top: 41%;
}
#branded .slideshow .next-btn {
	background-position: 0 -41px;
}
