@import url("jj-5lines.css");





/* GENERAL STUFF */

#branded  .wrapper{
	background: url("../img/tech/wrapper-bg.jpg") repeat-x !important;
}
#branded {
	background-image: url("../img/wrapper-bg.jpg") !important;
}
#branded.pt_brandstorefront .container_24 {
	background: white;
}
#branded.pt_brandstorefront .storefront8 .grid_24 {
	padding: 0px;
	margin-top: 0px;
	width: 1007px;
	margin-left: 0;
}
#branded .header {
	height: 75px;
	border-bottom: 1px solid #CCC;
}
#branded .simple_search {
	top: 26px;
}
#branded .header .simple_search input {
outline: 1px solid black;
}
.minicart {
	right: -5px !important;
}

/* SUBBRAND TABS */


.tabscontainer .tabs .tech {
	background:url('../img/subbrand-tabs/t-active.png') no-repeat center center transparent;
	background-color: white;
	opacity: 1 !important;
	filter: alpha(opacity = 100) !important;
}


#branded #category_menu {
	left: -28px !important;
}
/* MENU FLYOUT */
#branded .header {
	background:  white url("../img/tech/header-bg.jpg") no-repeat 0 63px !important;
}
#branded #category_menu {
	top: 22px;
	left: -32px !important;
}
#branded .header .logo {
	width: 138px !important;
	height: 28px;
	background: url("../img/tech/logo-t.jpg") no-repeat 100% !important;
	position: absolute;
	top: 54px;
	left: 10px;
}
#branded .header .logo a {
	width: 138px !important;
	height: 28px;
}
#branded .category_menu ul.categories li.level0item {
	background: url("../img/premium/menu-triangle.jpg") no-repeat 96% center;
}


#branded .header .simple_search input {	
	font-family:"Gill Sans W01 Bold" !important;
	font-size: 12px;
	color: black;
	font-weight: normal;
}

#branded .category_menu ul.categories li.level0item ul.items a {

font-family:"Avenir LT W01 55 Roman";
	font-size: 15px;
}

#branded .category_menu ul.categories li.level0item ul.items li a {
	font-family:"Avenir LT W01 55 Roman" !important;
	font-weight: normal !important;
	font-size: 12px !important;
}
#branded #category_menu > div > ul > li > a {
	font-size: 14px;
	font-family:"Avenir LT W02 85 Heavy";
	font-weight: normal;
}
#branded #category_menu > div > ul > li > a.active {
padding: 9px 13px 9px !important;
}
@-moz-document url-prefix() { 
	#branded #category_menu > div > ul > li > a.active {
		padding: 9px 13px 8px !important;
	}
}

#branded #category_menu .sub_category {
	top: 36px;
}

/* SLIDESHOW */
#branded .slideshow {
	min-height: 500px;
}
#branded .slideshow .bubble {
	background: url("../img/tech/bubble.png");
	width: 13px;
	height: 13px;
	background-position: 0 -13px;
	margin-right: 4px;
	/* cursor: pointer; */
}

#branded .slideshow .prev-btn, #branded .slideshow .next-btn {
	background: url("../img/tech/prev-next.png");
	width: 30px;
	height: 41px;
	top: 44%;
}



#branded .slideshow .prev-btn, #branded .slideshow .next-btn {
background-position: 0 0;
cursor: pointer;
position: absolute;
}


#branded .slideshow .next-btn {
	background-position: 0 -41px;
}

#branded .slideshow .controls {
margin-top: -23px;
}

#branded #top-carousel {
	margin-bottom: 10px;
}



/* WORDPRESS */

#branded #wp-container {
width: 1009px;
margin: auto;
position: relative;
overflow: auto;
min-height: 930px;
}

#branded .wp-sidebar {
	width: 250px;
	margin: 5px 0 0 5px;
	position: absolute;
	right: 1px;
	top: 470px;
	background: url("../img/tech/dotted-v.jpg") left repeat-y;
}

#branded .wp-canvas {
	width: 1009px;
	float: left;
	font-size: 18px;
	font-family:"ClassicalGaramondW01-Ro";
	min-height: 870px;
	background-position: 0 515px;
	margin-bottom: 50px;
	margin-top: 13px;
}

#branded .wp-canvas .slideshow {
	min-height: 450px;
}

#branded .wp-canvas .slideshow img{
	width: 1009px;
}

#branded .wp-canvas .wp-slide {
	margin-bottom: 20px;
}

#branded .wp-canvas .wp-slide img{
	width: 1009px;
}



#branded .wp-sidebar .wp-sidebar-top {
	text-align: center;
	padding: 20px 0 20px 18px;
	font-family:"Avenir LT W01 55 Roman";
	font-size: 16px;
	text-transform: uppercase;
	background: url("../img/tech/dotted-h.jpg") 1px bottom repeat-x;
	text-align: left;
}

#branded .wp-sidebar .wp-title {
	margin:  0;
	padding: 0 0 2px 2px;
	font-family:"Avenir LT W01 55 Roman";
	font-size: 14px;
	text-align: left;
	background-position: bottom;
	background-repeat: repeat-x;
	background: url("../img/tech/dotted-h.jpg") 1px bottom repeat-x;
}

#branded .wp-sidebar .wp-title .title{
	font-family:"Avenir LT W02 85 Heavy";
	margin-bottom: 5px;
}

#branded .wp-sidebar .wp-title .wp-clickable {
	border: 0 none;
	transition: all .2s;
	-moz-transition: all .2s; /* Firefox 4 */
	-webkit-transition: all .2s; /* Safari and Chrome */
	-o-transition: all .2s; /* Opera */
	padding: 37px 9px 27px 15px;
	text-transform: uppercase;
}

#branded .wp-sidebar .wp-title:hover .wp-clickable, #branded .wp-sidebar .wp-title.active .wp-clickable {
	transition: all .2s;
	-moz-transition: all .2s; /* Firefox 4 */
	-webkit-transition: all .2s; /* Safari and Chrome */
	-o-transition: all .2s; /* Opera */
	cursor: pointer;
	background: #f2f2f2;
}

#branded .wp-sidebar .wp-title .month {
	font-family:"Rockwell W01 Bold";
	text-transform: uppercase;
	font-style: normal;
	padding-bottom: 5px;
}

#branded .wp-sidebar .wp-title .band {
	text-transform: uppercase;
	font-style: normal;
}
#branded .wp-canvas .player {
	padding-bottom: 10px;
	padding-left: 1px;
	height: 500px;
}

#branded .wp-canvas .player-band, #branded .wp-canvas  .player-song {
	position: absolute;
	top: 300px;
	color: white;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	font-family:"Courier PS W01 Bold";
	font-size: 40px;
	cursor: pointer;
	pointer-events: none;
}

#branded .wp-canvas .player-song {
	top: 347px;
	font-family:"Rockwell W02";
	font-size: 20px;
	text-decoration: none;
}
#branded .wp-canvas .content {
	padding-right: 271px;
	padding-bottom: 10px;
	padding-top: 10px;
	min-height: 410px;
}
#branded .wp-canvas .content .gallery {
	display: none;
}

#branded .wp-canvas .content .column p {
	padding: 10px 20px 0;
	font-family:"Avenir LT W01 55 Roman";
	font-size: 14px;
	text-indent:23px;
	margin: 0;
	line-height: 21px;
	text-align: justify;
}
#branded .wp-canvas .heading {
	margin: 20px 0 20px 15px;
	border-bottom: 1px solid black;
	position: relative;
	width: 700px;
}
#branded .wp-canvas .heading h1 {
margin-bottom: 18px;
	font-family:"Avenir LT W01 55 Roman";
font-weight: normal;
font-size: 29px;
	text-transform: uppercase;
text-align: left;
}
#branded .wp-canvas .heading h2 {
position: absolute;
top: 25px;
background: white;
left: 29px;
padding: 0 10px;
	font-family:"Avenir LT W02 85 Heavy";
font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}
#branded .wp-canvas .content .column blockquote p {
	text-align: left;
	font-size: 18px;
	text-transform: uppercase;
	background: url("../img/tech/quote-bg.jpg") left no-repeat;
	font-weight: normal;
	text-indent:0;
	line-height: 21px;
	padding-left: 70px;
	margin: 20px 0;
	min-height: 39px;
}

#branded .wp-canvas .content .column p strong {
	text-transform: uppercase;
}

#branded .wp-canvas .content .column p a {
	color: black;
	text-decoration: none;
	transition: all .3s;
	-moz-transition: all .3s; /* Firefox 4 */
	-webkit-transition: all .3s; /* Safari and Chrome */
	-o-transition: all .3s; /* Opera */
	margin-left: -22px;
	font-weight: bold;
}
#branded .wp-canvas .content .column p a:hover {
	color: #666 !important;
	transition: all .3s;
	-moz-transition: all .3s; /* Firefox 4 */
	-webkit-transition: all .3s; /* Safari and Chrome */
	-o-transition: all .3s; /* Opera */
}

#branded .wp-canvas .gallery {
	overflow: hidden;
	background: url("../img/vintage/wordpress-gallery-bg.jpg") repeat-x;
	height: 352px;
	position: relative;
}
#branded .wp-canvas .gallery .container {
	width: 99999px;
	margin-top: 30px;
}
#branded .wp-canvas .gallery img {
	float: left;
	margin-right: 85px;
}
/*#branded .wp-canvas .gallery img:hover {
	-moz-transition: all .3s; 
	-webkit-transition: all .3s; 
	-o-transition: all .3s; 
	-webkit-filter: grayscale(0%); -moz-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	-webkit-filter: grayscale(1);
}
*/

#branded .wp-canvas .gallery .arrow {
	position: absolute;
	top: 46%;
	left: 767px;
	background: url("../img/vintage/wordpress-gallery-arrow.png") no-repeat;
	width: 27px;
	height: 44px;
	cursor: pointer;
}

#branded .wp-canvas .gallery .arrow.left {
	background-position: 0 -44px;
	left: 215px;
}



/* composition */

.composition-wrapper {
	width: 100%;
	background: #f9f9f9;
}

.composition {
	width: 1004px;
	overflow: auto;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 90px;
}


.composition img {
	opacity: 0;
	filter: alpha(opacity = 0);
}

#footer_global .lower.container_24 {
margin-bottom: 0px;
}
#footer_global .contentasset .container_24 {
background: transparent !important;
}




/* featured products */

#featured {
	padding: 0px !important;
}
#featured .holder {
	width: 1007px;
	height: 612px;
	margin: auto;
	overflow: hidden;
	position: relative;
	opacity: 0;
	filter: alpha(opacity = 0);
}
#featured .holder.idleNoMore {
	filter:0;
	opacity: 1;
}
#featured .spotlight {
	width: 757px;
	height: 614px;
	float: left;
	text-align: left;
	overflow: hidden;
	display: none;
}
#featured .spotlight.active {
	display: block;
}
#featured .spotlight img{
	margin-top: -34px;
}

#featured .left {
	width: 464px;
	float: left;
}
#featured .right {
	width: 216px;
	float: right;
	padding-top: 54px;
	margin-right: 35px;
}


#featured .right h1 {
	font-family:"Avenir LT W01 55 Roman";
	font-size: 32px;
	text-transform: uppercase;
	color: #b8c5cc;
	margin-bottom: 10px;
}


#featured .right .price {
	font-family:"Avenir LT W01 55 Roman";
	font-size: 22px;
	color: black;
	margin-bottom: 30px;
}

#featured .right .description {
	font-family:"Avenir LT W01 55 Roman";
	font-size: 14px;
	color: #1b2226;
	line-height: 21px;
}

#featured .right .buyNow {
	font-family:"Avenir LT W01 55 Roman";
	padding: 7px 10px;
	background: black;
	color: white;
	font-size: 12px;
	text-decoration: none !important;
	margin-top: 30px;
	display: inline-block;	
}
#featured .shoulder {
	width: 250px;
	height: 612px;
	overflow: hidden;
	background: url("../img/tech/featured-shoulder-bg.jpg") repeat-y;
	position: absolute;
	right: 0;
}
#featured .shoulder .thumb {
	cursor: pointer;
	display: none;
	margin-bottom: 33px;
}

#featured .shoulder .thumb.active {
	display: block;
}
#featured .shoulder .thumb .price {
	margin-top: -12px;
	font-family:"Avenir LT W01 55 Roman";
	font-size: 18px;
}





/* category banner heading text */

.cat-banner-wrapper h1.catHeading {
	font-size: 60px;
	font-family:"Avenir LT W01 55 Roman";
	text-transform: uppercase;
}


.cat-banner-wrapper div.catLogo {
	background: url("../img/tech/catbannerLogo.png") left 0 no-repeat !important;
	width: 1007px;
	height: 32px;
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -503px;
}