@font-face{
    font-family: "Avenir LT W01 55 Roman";
        src: url("../fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix");
        src: url("../fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix") format("eot"),
             url("../fonts/b9ebb19d-88c1-4cbd-9baf-cf51972422ec.woff") format("woff"),
             url("../fonts/5ed4f98e-9044-4810-88ff-74d412c1351f.ttf") format("truetype"),
             url("../fonts/4cb16859-16ca-4342-b89c-292dc83266af.svg#4cb16859-16ca-4342-b89c-292dc83266af") format("svg");
}
@font-face{
    font-family: "Avenir LT W02 85 Heavy";
        src: url("../fonts/e9427e66-afa8-4ceb-bb31-7a970fb469ea.eot?#iefix");
        src: url("../fonts/e9427e66-afa8-4ceb-bb31-7a970fb469ea.eot?#iefix") format("eot"),
             url("../fonts/748da442-9dd9-4a4d-8da0-b114e16e5d7f.woff") format("woff"),
             url("../fonts/6beeeb66-0b4e-4162-8788-8bf688b9829a.ttf") format("truetype"),
             url("../fonts/8afe744b-89a2-4ae2-a88e-05c6882580f3.svg#8afe744b-89a2-4ae2-a88e-05c6882580f3") format("svg");
}
@font-face{
    font-family: "Gill Sans W01 Medium";
        src: url("../fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?#iefix");
        src: url("../fonts/beab4258-af94-4971-a0db-b7bc2bef74bc.eot?#iefix") format("eot"),
             url("../fonts/cd5a93fc-2bb1-48df-8982-11119cd6e270.woff") format("woff"),
             url("../fonts/b6bdc93b-2720-4c92-b68d-48499456178e.ttf") format("truetype"),
             url("../fonts/944cce8d-20bf-41c1-ae29-2bc8199859db.svg#944cce8d-20bf-41c1-ae29-2bc8199859db") format("svg");
}
