#branded .content
	.storefront-logo
		width 950px
		height 50px
		position relative
		overflow visible
		margin 0 auto
		z-index 900
		
		.brandsite-logo
			width 44px
			height 122px
			background url('../img/storefront_logo_core.png') center / 100% no-repeat
			position absolute
			right 31px
			top 22px
			transform rotate(180deg)

	// Hero
	.storefront-hero
		width 1020px
		margin 0 auto
		position relative

		.swiper-prev
		.swiper-next
			height 122px
			margin-top -61px
			position absolute
			top 50%
			width 35px
			z-index 99
			display none
			
			&:hover
				cursor pointer

		.swiper-prev
			background url('../img/core-swiper-prev.png') no-repeat center
			left 0

		.swiper-next
			background url('../img/core-swiper-next.png') no-repeat center
			right 0

	.hero
		overflow hidden
		position relative
		text-align center
		width 950px
		margin 0 auto

		.swiper-pagination
			bottom 10px
			left 10px
			position absolute
			z-index 900

		.swiper-pagination-switch
			border 1px solid #fff
			cursor pointer
			display inline-block
			height 8px
			margin 0 5px 0 0
			width 8px
			transition all 0.2s ease-out

			&:hover
				background rgba(255, 255, 255, 0.5)

		.swiper-active-switch
		.swiper-active-switch:hover
			background #fff

		.background--light .swiper-pagination-switch
			background-color black

		.swiper-slide
			display none

			&.first-slide
				display block

			img
				border 0
				padding 0
				position relative
				width 100%

			a
				display block
				
	.brandsite-content-boxes
		.content-box
			width 950px
			margin 0 auto
			
			img
				width 100%
				
			&.full-width
				width 100%
				
	.brandsite-footer-logo
		width 950px
		height 225px
		position relative
		overflow visible
		margin 0 auto
		z-index 900
		
		.brandsite-logo
			width 79px
			height 221px
			background url('../img/storefront_logo_core.png') center / 100% no-repeat
			position absolute
			left 81px
			bottom 73px