@import 'modules/vars'
@import 'modules/mixins'
@import 'modules/easings'

// Frontpage specific vars
$animationTiming = 0.35s

// DMW overwrites, fixes

a
	color #2a2a2a

	&:hover
		color inherit

#footer_global
	margin-top 0

#branded
	.area
		width 100%
		background #fafafa
		padding-bottom 40px

		.wide_wrapper
			padding-bottom 1px

		.content *
			font-family $medium

	#content .wide_wrapper
		width 100% !important

	.headerfix
		width 100%

	.wrapper
		background #fff
		width 100%
		padding 0

// Frontpage
#branded
	.content
		
		// Logo
		.storefront-logo
			height 60px
			background #fff url('../img/storefront/logo-jackjones.jpg') no-repeat center

		// Highlights
		.storefront-highlights
			background rgba(14, 14, 15, 0.6)
			margin-bottom -40px
			position relative
			z-index 2
			
			.storefront-highlights-content
				width 85%
				max-width 1280px
				min-width 730px
				margin 0 auto
				display table
				table-layout fixed
				padding 10px 0
				
				a
					color #fff
					font-size 13px
					line-height 20px
					font-family $regular
					text-transform uppercase
					display table-cell
					text-align center
					border-left 1px dotted #9f9f9f
					
					&:first-child
						border-left none

		// Hero
		.hero
			overflow hidden
			position relative
			text-align center
			width 100%

			.swiper-prev
			.swiper-next
				height 122px
				margin-top -61px
				opacity 0.7
				position absolute
				top 50%
				width 60px
				z-index 99
				transition all 0.2s ease-out

			.swiper-prev
				background url('../img/swiperArrowLeft.png') no-repeat center top
				cursor pointer
				left 1%

				&:hover
					left 0.8%
					opacity 1

				&.background--light
					background-image url('../img/swiperArrowLeft-black.png')

			.swiper-next
				background url('../img/swiperArrowRight.png') no-repeat center bottom
				cursor pointer
				right 1%

				&:hover
					opacity 1
					right 0.8%

				&.background--light
					background-image url('../img/swiperArrowRight-black.png')

			.swiper-pagination
				bottom 40px
				left 50%
				padding 15px 0
				position absolute
				text-align center
				z-index 900
				transform translateX(-50%)

			.swiper-pagination-switch
				background #FFF
				border-radius 10px
				box-shadow 0px 1px 1px #666
				cursor pointer
				display inline-block
				height 10px
				margin 0 5px
				opacity 0.3
				width 10px
				transition all 0.2s ease-out

				&:hover
					opacity 0.8

			.swiper-active-switch
			.swiper-active-switch:hover
				opacity 1

			.background--light .swiper-pagination-switch
				background-color black

			.swiper-slide
				display none

				&.first-slide
					display block

				img
					border 0
					padding 0
					position relative
					width 100%

				a
					display block

		// Brands
		.storefront-brands
			width 900px
			margin -40px auto 0
			position relative
			z-index 1
			
			> div
				position relative
				margin-bottom 10px
				
				.brand-content
				.brand-overlay
					position absolute
					
				.brand-content
					z-index 1
					text-align center
					font-size 17px
					color #fff
					top 50%
					transform translateY(-50%)
					transition top $animationTiming easeOutCubic
					backface-visibility hidden // Fixes content going blurry when animating
					width 100%
					
					span
						display inline-block
						margin-top 20px
						overflow hidden
						opacity 0
						transition opacity $animationTiming easeOutCubic
						text-shadow 0px 1px 1px rgba(0, 0, 0, 0.2)
						padding-bottom 2px
						
						&:after
							content ''
							display block
							width 100%
							height 2px
							background #fff
							margin-top 2px
							box-shadow 0px 1px 1px 0px rgba(0, 0, 0, 0.1)
							
				img.background
					width 100%
				
				// Animation for line below "Shop this brand"
				// Triggered by JS adding and removing classes
				@keyframes anim-in
					0%
						margin-left -100%
						
					100%
						margin-left 0
						
				@keyframes anim-out
					0%
						margin-left 0
						
					100%
						margin-left 100%
					

				&.anim-in 
					.brand-content
						top 45%

						span
							opacity 1

							&:after
								animation anim-in $animationTiming easeOutCubic
						
					.brand-overlay
						opacity 0
						
				&.anim-out 
					.brand-content
						top 50%

						span
							opacity 0

							&:after
								animation anim-out $animationTiming easeOutCubic
						
					.brand-overlay
						opacity 1
					
				// Setting heights so transforms won't blur the content
				// Remeber to use even numbers
				&.core .brand-content
					height 60px
					
					img.brand-logo
						width 165px
				
				&.originals .brand-content
					height 40px
					
					img.brand-logo
						width 147px
					
				&.premium .brand-content
					height 36px
					
					img.brand-logo
						width 162px
					
				&.vintage .brand-content
					height 46px
					
					img.brand-logo
						width 173px
					
				&.tech .brand-content
					height 34px
					
					img.brand-logo
						width 153px
					
				&.jeans .brand-content
					height 58px
					
					img.brand-logo
						width 226px

				.brand-overlay
					top 0
					left 0
					width 100%
					height 100%
					opacity 1
					background rgba(27, 29, 33, 0.3)
					transition opacity $animationTiming easeOutCubic
					
		// Sellingpoints
		.storefront-sellingpoints
			background #292c2e
			width 100%
			text-align center
			padding 30px 0 25px
			margin-top 40px
			
			.sellingpoint
				width 300px
				display inline-block
				
				span
					color #6e7072
					font-size 11px
					display block
					
					&.momma
						font-size 14px
						color #fff
						text-transform uppercase
						margin-bottom 7px
						
					a
						color inherit
						text-decoration underline
						
						&:hover
							text-decoration none
							
@media only screen and (max-width: 1280px)
	#branded .content
		.storefront-highlights
			margin-bottom -36px

			.storefront-highlights-content
				padding 8px 0

				a
					font-size 11px
					
		.hero .swiper-pagination
			bottom 25px			

		.storefront-brands
			width 730px
			margin-top -25px

			> div
				margin-bottom 8px
				
				.brand-content span
					font-size 14px
					
					&:after
						margin-top 1px

				// Setting heights so transforms won't blur the content
				// Remeber to use even numbers
				&.core .brand-content
					height 50px
					
					img.brand-logo
						width 139px
				
				&.originals .brand-content
					height 34px
					
					img.brand-logo
						width 129px
					
				&.premium .brand-content
					height 30px
					
					img.brand-logo
						width 141px
					
				&.vintage .brand-content
					height 40px
					
					img.brand-logo
						width 154px
					
				&.tech .brand-content
					height 28px
					
					img.brand-logo
						width 138px
					
				&.jeans .brand-content
					height 50px
					
					img.brand-logo
						width 201px

		.storefront-sellingpoints
			padding 20px 0
			margin-top 32px

			.sellingpoint
				width 243px
				
				span
					font-size 10px
					
					&.momma
						font-size 12px
						margin-bottom 0
						
	#branded .area
		padding-bottom 32px

@media only screen and (min-width: 1440px)
	#branded .content
		.storefront-highlights
			margin-bottom -44px

			.storefront-highlights-content
				padding 12px 0

		.hero .swiper-pagination
			bottom 55px			

		.storefront-brands
			width 980px
			margin-top -55px
			
			> div
				margin-bottom 15px

				// Setting heights so transforms won't blur the content
				// Remeber to use even numbers
				&.core .brand-content
					height 68px
					
					img.brand-logo
						width 188px
				
				&.originals .brand-content
					height 46px
					
					img.brand-logo
						width 168px
					
				&.premium .brand-content
					height 40px
					
					img.brand-logo
						width 187px
					
				&.vintage .brand-content
					height 50px
					
					img.brand-logo
						width 196px
					
				&.tech .brand-content
					height 38px
					
					img.brand-logo
						width 178px
					
				&.jeans .brand-content
					height 66px
					
					img.brand-logo
						width 259px
						
		.storefront-sellingpoints
			margin-top 50px
			
	#branded .area
		padding-bottom 50px