@import 'vars';

@mixin opacity($opacity, $important: no) {
    @if $important == isImportant {
        opacity: $opacity !important;
        $opacity-ie: $opacity * 100;
        filter: alpha(opacity=$opacity-ie) !important; //IE8
    }
    
    @else {
        opacity: $opacity;
        $opacity-ie: $opacity * 100;
        filter: alpha(opacity=$opacity-ie); //IE8
    }
}


@mixin productlisting ($imagewidth, $spacing) {
    $listwidth: ($imagewidth * 3) + ($spacing * 2);

    .productlisting {
        margin:0 auto;
        width:$listwidth;
    
        .grid_5 { 
            margin:0;
            width:$imagewidth;
            margin: 0 $spacing;
            height:auto;
            overflow: hidden;

            &.alpha,
            &.omega {
                margin: 0;
            }
            
            .producttile {
                background-color: transparent;
                height: auto;

                .image {
                    border:0 none;
                    margin: 0;

                    .thumbnail {
                        width: 100%;
                        height: auto;
                    }
                    img.product_thumbnail {
                        border:0 none;
                        width: $imagewidth;
                        height: auto;
                    }
                }                
            }
        }
    }
}

@mixin largeboxes {
    .content {
        span {
            &.title {
                font-size: 26px;
                margin-top: 50px;
            }

            &.price {
                font-size: 12px;
                margin-top: 10px;
            }
        }

        .bar {
            margin-top: 25px;
            width: 20px;
            height: 3px;
        }
    }
}

@mixin smallboxes {
    .content {
        span {
            &.title {
                font-size: 16px;
                margin-top: 30px;
            }

            &.price {
                font-size: 11px;
                font-family: $medium;
            }
        }

        .bar {
            margin-top: 15px;
            width: 15px;
            height: 2px;
        }

        .text {

            .slidein {
                padding-bottom: 30px;

                a {
                    display: inline-block;
                    //width: 50%;
                    //float: left;
                    line-height: 10px;
                    font-size: 10px;
                    font-family: Arial;

                    &.one {
                        border-right: 1px solid #000;
                        padding-right: 11px;
                        //text-align: right;
                    }

                    &.two {
                        padding-left: 10px;
                        //text-align: left;
                    }
                }
            }
        }
    }
}