$GillSansMedium: "Gill Sans W01 Medium";
$DINRegular: "DIN Next W01 Regular";
$AvenirRoman: "Avenir LT W01 55 Roman";

$shadow: 0 1px 1px #fff;

$regular: 'PFDinMono-Regular';
$medium: 'PFDinMono-Medium';
$bold: 'PFDinMono-Bold';

$coreFontRegular: 'FuturaBT-Book';
$coreFontMedium: 'FuturaBT-Medium';
$coreFontBold: 'FuturaBT-Heavy';

$originalsFontRegular: 'GillSansMTStd-Book';
$originalsFontMedium: 'GillSansMTStd-Medium';

$premiumFontRegular: 'AGaramond-Regular';
$premiumFontFreeway: 'Freeway Gothic';
$premiumFontGill: 'GillSansMTStd-Book';

$vintageFontRockwell: 'RockwellStd';
$vintageFontCourier: 'CourierLTCYR-Regular';
$vintageFontSchoolbook: 'CenturySchoolbookBT-Roman';
$vintageFontGill: 'GillSansMTStd-Medium';

$techFontRegular: 'AvenirLT-Light';
$techFontBold: 'AvenirLT-Heavy';
$techFontRockwell: 'RockwellStd';