$GillSansMedium: "Gill Sans W01 Medium";
$DINRegular: "DIN Next W01 Regular";
$AvenirRoman: "Avenir LT W01 55 Roman";

/* Styles */
$shadow: 0 1px 1px #fff;

/* Fonts */
$regular: 'PFDinMono-Regular';
$medium: 'PFDinMono-Medium';
$bold: 'PFDinMono-Bold';

/* Core */
$coreFontRegular: 'FuturaBT-Book';
$coreFontMedium: 'FuturaBT-Medium';
$coreFontBold: 'FuturaBT-Heavy';

/* Originals */
$originalsFontRegular: 'GillSansMTStd-Book';
$originalsFontMedium: 'GillSansMTStd-Medium';

/* Premium */
$premiumFontRegular: 'AGaramond-Regular';
$premiumFontFreeway: 'Freeway Gothic';
$premiumFontGill: 'GillSansMTStd-Book';

/* Vintage */
$vintageFontRockwell: 'RockwellStd';
$vintageFontCourier: 'CourierLTCYR-Regular';
$vintageFontSchoolbook: 'CenturySchoolbookBT-Roman';
$vintageFontGill: 'GillSansMTStd-Medium';

/* Tech */
$techFontRegular: 'AvenirLT-Light';
$techFontBold: 'AvenirLT-Heavy';
$techFontRockwell: 'RockwellStd';