@import 'compass';
@import 'vars';
@import 'mixins';

@import url("../../css/jack-jones.css");

/* Import from jj-shared */

@import 'jj-shared';

/* End import from jj-shared */


#highlights_features_hotfix h2{
    font-family: "PFDinMono-Regular","UniversLTW01-57Condense 723821", Arial;
}

/* CONTENT */

/* category banner heading text */
.cat-banner-wrapper h1.catHeading {
    display: block !important;
    position: absolute;
    top: 126px;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 70px;
    font-family: "PFDinMono-Regular",'Univers_lt_cn', Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

#branded.pt_category .container_24 .grid_24 {
    margin-top: 95px;
}

#branded.pt_productdetails #content.container_24 {
    margin-top: 0px;
}

/* Outfit PDP */
#branded.pt_productdetails .product_set {
    .grid_16,
    .productsetdetail {
        background: none;
    }
}

#branded.pt_productdetails .productset {
    #subProduct2Div, 
    #subProduct4Div, 
    #subProduct6Div, 
    #subProduct8Div, 
    #subProduct10Div {
        div.productsetdetail {
            background: none;
        }
    }
}