@import 'compass';
@import 'vars';
@import 'mixins';

@import url("../../css/jack-jones.css");

/* Import from jj-shared */

@import 'jj-shared';

/* End import from jj-shared */
.header_wrapper  {
    width: 999px;
    margin: auto;
    position: relative;
}

#highlights_features_hotfix h2{
    font-family: "PFDinMono-Regular","UniversLTW01-57Condense 723821", Arial;
}

/* CONTENT */


/* Outfit PLP */
#branded.pt_category .productlisting .product_set .quickviewbutton {
    display: none !important;
}

/* Outfit PDP */
#branded.pt_productdetails .product_set {
    .grid_16,
    .productsetdetail {
        background: none;
    }
}

#branded.pt_productdetails .productset {
    #subProduct2Div, 
    #subProduct4Div, 
    #subProduct6Div, 
    #subProduct8Div, 
    #subProduct10Div {
        div.productsetdetail {
            background: none;
        }
    }
}