@import 'compass';
@import 'vars';
@import 'mixins';

@import url("../../css/jack-jones.css");

/* Imported from jj-shared */

@import 'jj-shared';

/* End import from jj-shared */

*::selection {
    background: #a8d1ff !important;
    /* Pink selection! What r u doin? STAHP! */
    /* Pink is teh color of bacon! WIN! */
}
*::-moz-selection {
    background: #a8d1ff !important;
}
.soft-intro {
    visibility: hidden;
}
.header_wrapper  {
    width: 999px;
    margin: auto;
    position: relative;
}

/* CONTENT */

#branded .area{
    width: 1007px;
}
#branded #content{
    margin-top: -1px;
    width: 1007px;
}
.jj #branded.pt_brandstorefront .area {
    background: none !important;
}
/* category banner heading text */
.cat-banner-wrapper h1.catHeading {
    display: block !important;
    position: absolute;
    top: 126px;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 70px;
    font-family: "PFDinMono-Regular",'Univers_lt_cn', Helvetica, Arial, Verdana, sans-serif;
    text-shadow: 1px 1px 3px rgba(12, 12, 12, .8);
    text-transform: uppercase;
}

/* FOOTER */
#footer_global .contentasset .container_24 {
    width: 1007px;
}

/* Temp fix for search field ES */
body.countryES #branded .header .simple_search input {
    width: 85px;
}