@import 'compass';
@import 'vars';
@import 'mixins';

a {
    color : #2a2a2a;

    &:hover {
        color : inherit;
    }
}

#branded {
    .area {
        width : 100%;

        .wide_wrapper {
            padding-bottom : 1px;
        }

        .content * {
            font-family : $regular;
        }
    }

    #content .wide_wrapper {
        width : 100% !important;
    }

    .headerfix {
        width : 100%;
    }

    .wrapper {
        background : #fff;
        width      : 100%;
        padding    : 0;
    }
}

/* Frontpage */
#branded {
    .content {
        *,
        *:after,
        *:before {
            color : #2a2a2a;
            @include box-sizing(border-box);
        }
        /* Grid */
        .grid {
            width : 100%;

            [class*='col-'] {
                float   : left;
                padding : 0 10px
            }

            /* One column */
            .col-1-1 {
                width : 100%;
            }

            /* Two columns */
            .col-1-2 {
                width : 50%;
            }

            /* Three columns */
            .col-1-3 {
                width : 33.33%;
            }

            .col-2-3 {
                width : 66.66%;
            }

            /* Four columns */
            .col-1-4 {
                width : 25%;
            }

            .col-2-4 {
                width : 50%;
            }

            .col-3-4 {
                width : 75%;
            }
        }
        
        // Setting default shared stuff, making DMW my bitch

        .storefront-brands {
            display : none;
        }

        .storefront-categories {
            width  : 1090px;
            margin : 0 auto;
        }

        // Storefront callout
        .storefront-promos {
            width    : 1090px;
            margin   : 30px auto 0;

            .storefront-callout {
                border     : 1px solid #ebebeb;
                width      : 100%;
                text-align : center;
                position   : relative;
                overflow   : hidden;

                span, a {
                    display : block;
                }

                span {
                    font-size      : 15px;
                    text-transform : uppercase;
                    font-family    : $regular;
                    letter-spacing : 1px;
                    margin         : 24px auto 13px
                }

                a {
                    font-size       : 12px;
                    font-family     : $bold;
                    text-transform  : uppercase;
                    text-decoration : underline;
                    margin-bottom   : 24px;

                    &:hover {
                        text-decoration : none;
                    }
                }

                button {
                    width    : 26px;
                    height   : 26px;
                    border   : none;
                    position : absolute;
                    top      : 50%;
                    padding  : 0;
                    right    : 30px;
                    @include transform(translateY(-50%));
                    @include backface-visibility(hidden);
                    @include transition(opacity 0.3s ease);
                    @include opacity(0.2);
                    background : transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMjgwMTE3NDA3MjA2ODExODA4M0Q0QTk2NTcyRDNFRCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpBRUNFRjczMTFFNEIxMUU0QTYwMkY1MEQ4RUM2NURFRSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpBRUNFRjczMDFFNEIxMUU0QTYwMkY1MEQ4RUM2NURFRSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDY4M0NGN0MxNzIwNjgxMTgyMkFDMDdGRDlEODQxRDMiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDI4MDExNzQwNzIwNjgxMTgwODNENEE5NjU3MkQzRUQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6xDfJTAAAAWklEQVR42mJgYGDYAcR2DMQBe6h6MOM1ERph6uzRBeyI1UBII04NuDQS1ICusYRYDTAA0vAfShMF7KA2lBIZqnANdkSGKoYGgtFhR2Q82RGrAatGktMeQIABAFiNIdHpHJVwAAAAAElFTkSuQmCC) no-repeat center;

                    &:hover {
                        @include opacity(1)
                    }
                }
            }
        }

        // Storefront logo
        .storefront-logo {
            width      : 168px;
            height     : 57px;
            margin     : 37px auto 0;
            background : transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAA5CAYAAACicWBSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMjgwMTE3NDA3MjA2ODExODA4M0Q0QTk2NTcyRDNFRCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowNjkxMzA3MDFFNDcxMUU0QTM1NEQ5MEU0NzAxQ0QyNCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowNjkxMzA2RjFFNDcxMUU0QTM1NEQ5MEU0NzAxQ0QyNCIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6MDY4M0NGN0MxNzIwNjgxMTgyMkFDMDdGRDlEODQxRDMiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDI4MDExNzQwNzIwNjgxMTgwODNENEE5NjU3MkQzRUQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6lxfXiAAAHTklEQVR42uxcC2wUVRTd8ikCCoIIalPAiEIwREANEKMCkRBQBMEfYqBqQIIkSIjYxKhECWCQgD8URQgftShFKVaQKBKMghiVSiREQZDyUQQpoIDl57n2DHm+zH663bZbe05yMjNv3p15O3P23c/MbkZ2dtbZiCCkKeroEgjpjHrO+jxwhS6JkAYYAD7oC3RzcfGeD3RthOoGws62cvGCYlBBkEAFCVQQJFBBkEAFCVQQJFBBAhUECVQQYqOeLkFqkJ2ddTkWM7k5vrh4zw5dFc2g6YSm4ECyqS6HBCpIoIIggQpC1SZJSBjqY9EYPI1k4WiS9g1he0S3SAJNlShbYzEavB3sANZl+wEs1oELwBUQ3dkQ2wwsbgPvAXuDl7L9JBZbwEJwDmx3RTm3nfMZp+lPciv4KbgStqcSsIuGz2A/XnKpgQKluHLBSWBmSJcW4GDyBfBRz74dFgvBHiG2NpNeQ05A38lYToVYTnv9mrOPj77gOBM5bAfCbluCdj52Sio1MAbFTbdZchE4JYo4fVzo2XfDYmMUcfpoAD4L5vG85UFHcA3smuiW164Z9ElwmNe2CnwX/IWCNJedw5jUFWdbc71gM6f5YKTsx3tf0kW3Ae8Ab3X63Am+CD4SY1xvg6Vgf7BlcEpwDDgthl0+uDukfbOkUsMECoF1pkADHAfvhxtd5nVdhr4W583x2t/wxLkaHAr7P7x+b8Le4tN3wPPZNgZtS9B3XZThTce+TehjX5CfGGYYesYR6MuwWytZ/D9c/GOe/agQcf4LtO9nDPoSxd0Ji1ucLkU2U4aIM7D/0MTvNU+MN0DYlWDhxp3NdMsrnHPUrcrz1UtykPWZrQf4FmJYHEcslr1/w80h3u5c7D8Wx345zruWs6ChD7YviFXGwv4uWHR2mnbF+WgW354IaZ+F88yqpBs+l1WLGVYtoKewxO5KsB/O+4TT93mOZTfW7d5NxPoUZ/8EhkM2cYwCrwf3ghmskIxF/5Podx3j+SJs53rjyUPbvVi2t4QUbAj+Fil7v+CQeT7ss+Mcw9LCu6NYL8B6AdbPgDus4oHtB7A+HPwe2+Oq2sVf4bhbQ3n/8KGDs/43S0GJYKUj0EyOY1OYoEy8WHbhzQnwVpzjt0okuUsxrIoxFnwKN9ISOUs6p4NXWcgTUhEJ7tl9JlD0X0jB2jsAV9sXlwnleeDFYDe2DzZx0taObd6qU8h4LsGx6jCOHwabrdg20b8O3sWE1sK2wTx+feca2aQVlPNMoFaa21cdLr6Ft/1rOe1bOuslzoWLh/3e9kVR+t0MdvXEmZ/Gf0zxKtjISnYYYyGv78fR3oiigEZzlgzqszeBi60EZ7ObEy5Zn2nYPuxNEHaN8nGsjiGnsOt60MRJ71XIGT3C2XS2idTG7JXsZvHLZhgJPs4KT5UnSQfjCDYeDrlxoYUMCYq0VYzjRMNfzPqfTqDvK17MGmBDJQvU/urlPbr6vSy9hXmG5vQ4d4NZrGS0Z33YwqehDIMaOOIxAU9D+8+4xtsZGgziLGrVia84Gwc17Ya8v61MvLDZwiR1uxNumUu3VatfB3XtA2jPccY6jGHFBvRtFC+ES7VAi1nGCWqf5gIml8N+C5OmwFWbW/ooATu33HTKvWgxYDHl7AS/AEurIYvfxrjza5x7r+ORDnsz5lJzl+izD9sW212L9QNcz+Hs1ZphUF2W1H6n4B+ymBN9RzAGNU/yPo/ZjvXhJhzHPPQ5gzb7Ekw1cXHWHOmMNxDpcCfUO8Lj7uBTtxMM3T5JVpyGDOfvF8eXJxGAnQmqn1ufhH1+nOzvRhMA1nuw1unWGbvH+iCMedzjr0b/vtxnN2i+s6/QE/MXYC9fpCF2vZIVKMtu33Gzi5W5aktWH/Jkr6LHtFl5ZkXLTL6YF+HAA6KcMIvfphx++9Z7ArVgvRD9WkSxtwRgkdc8I8bYJoHrne0bmJEKKUaqxZkqF28DWw3h2AsgI9hksUsBZ1YLoHdy+u9NF9M48t9n2qMY/wRPmCw738ayy+eMHdsy3urjnX6+nT/G8E4xriqi6zLYs/x15ppi2OWgT8+Q9q2wy5Mcqx4VfdRpIrvME1B/Mp7Af+DbRAWOSO2nEhPIaFjODDbe8Xfi+DY+V1gL0NY1xu+FRsQ4pwRaDajQyyK40aWM9Z4DE5nqSzz7NSwHbUzAtpSuewjPm8j4lkTKnu279cwlEGmmbn3tmEEjTDxy6ZofZuJ07n3QSFmhNngfdFWI/Y+w7U6h59DVB/XNk0ygLOmZG+190EhZ0bnI2T7urNtTjDZOKczEaf/e+1qIXTToF5rVhKSz+AQyMZutSpMpMcDWnoJk1qQ36mtrFl9J1/JcFl9pv4vnixrJ2loN7YRulaAfzQkSqCBIoIKyeCEm7Nn5cmddkEDTByz+D9KVkIsXJFBBkEAFQQIVJFBBkEAFCVQQJFBBkEAFCVQQqgLuo85O2dlZelQnpAPO/SWP+0a9IMjFC0J58I8AAwAot4Z65V7CQQAAAABJRU5ErkJggg==) center no-repeat;
        }

        // Hero
        .storefront-hero {
            width   : 1090px;
            margin  : 41px auto 0;
            padding : 20px;
            border  : 1px solid #ebebeb;

            .hero {
                margin   : 0 auto;
                position : relative;

                img {
                    width  : 100%;
                }

                .swiper-prev,
                .swiper-next {
                    position   : absolute;
                    z-index    : 10;
                    width      : 60px;
                    height     : 100%;
                    top        : 0;
                    cursor     : pointer;
                    background : url(../img/sprite_hero_controls.png) no-repeat;
                    display    : none;
                }

                .swiper-prev {
                    background-position : left center;
                    left                : 10px;
                }

                .swiper-next {
                    background-position : right center;
                    right               : 10px;
                }

                .swiper-pagination-container {
                    position : absolute;
                    left     : 50%;
                    bottom   : 15px;

                    .swiper-pagination {
                        text-align : center;
                        position   : relative;
                        left       : -50%;

                        span {
                            display    : inline-block;
                            width      : 10px;
                            height     : 10px;
                            background : rgba(255, 255, 255, .25);
                            margin     : 0 4px;
                            cursor     : pointer;
                            @include border-radius(10px);

                            &.swiper-active-switch {
                                background : rgba(255, 255, 255, .85);
                            }
                        }
                    }
                }

                &.swiper-container .swiper-slide {
                    display : none;

                    &.first-slide {
                        display : block;
                    }
                }
            }
        }

        /* Misc */
        .storefront-misc {
            text-align     : center;
            padding-bottom : 15px;
            width          : 1090px;
            position       : relative;
            margin         : 43px auto 0;

            h1 {
                text-transform : uppercase;
                font-size      : 12px;
                font-family    : $regular;
                font-weight    : normal;
                letter-spacing : 1px;
                color          : #2a2a2a;
                line-height    : normal;
                display        : inline-block;
                background     : #fff;
                position       : relative;
                z-index        : 1;
                margin         : 0 auto;
                padding        : 0 25px;
            }

            .stroke {
                width      : 100%;
                height     : 1px;
                background : #ebebeb;
                margin     : 0 auto;
                bottom     : 22px;
                position   : absolute;
                z-index    : 0;
            }
        }

        /* Categories */
        .storefront-categories {
            width : 100%;

            .gridify {
                width  : 1090px;
                margin : 0 auto;

                .box {
                    margin-bottom : 20px;
                    float         : left;
                    width         : 350px;
                    height        : 550px;
                    
                    // Production
                    &:nth-child(3n+2) {
                        margin : auto 20px;
                    }

                    // Staging + sandbox
                    /*
                    &:nth-child(3n+3) {
                        margin : auto 20px;
                    }
                    */

                    .content {
                        width    : 100%;
                        height   : 100%;
                        border   : 1px solid #ebebeb;
                        position : relative;
                        @include background-size(cover);

                        span {
                            text-align     : center;
                            display        : block;

                            &.title {
                                letter-spacing : 1px;
                                font-family    : $regular;
                                font-size      : 26px;
                                margin-top     : 32px;
                                text-transform : uppercase;
                            }

                            &.price {
                                font-size  : 14px;
                                margin-top : 8px;

                                b {
                                    font-family : $medium;
                                    font-weight : normal;
                                }
                            }
                        }

                        .text {
                            position     : absolute;
                            width        : 100%;
                            bottom       : 0;
                            z-index      : 2;

                            .slidein {
                                text-align     : center;
                                padding-bottom : 29px;

                                a {
                                    display         : block;
                                    font-family     : $regular;
                                    text-transform  : uppercase;
                                    font-size       : 12px;
                                    line-height     : 22px;
                                    text-decoration : underline;

                                    &:hover {
                                        text-decoration : none;
                                    }
                                }
                            }
                        }

                        .overlay {
                            width      : 100%;
                            height     : 100%;
                            background : rgba(252, 252, 252, 0.15);
                            position   : absolute;
                            top        : 0;
                            @include opacity(0);
                        }
                    }
                }
            }
        }
    }
}

// Breakpoints

// 1200 - 1400 px
@media only screen 
and (max-width : 1400px) {
    #branded {
        .content {
            .grid {
                [class*='col-'] {
                    padding : 0 10px
                }
            }
        
            .storefront-promos,
            .storefront-hero {
                width : 880px;
            }

            .storefront-misc {
                margin-top  : 43px;
                width       : 880px;
            }

            .storefront-categories {
                .gridify {
                    width : 880px;

                    .box {
                        width  : 280px;
                        height : 440px;

                        .content {
                            span {
                                &.title {
                                    margin-top : 35px;
                                }
                            }

                            .bar {
                                margin-top : 20px;
                            }

                            .text .slidein {
                                padding-bottom : 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// < 1200px
@media only screen 
and (max-width : 1200px) {
    #branded {
        .content {
            .grid {
                [class*='col-'] {
                    padding : 0 5px;
                }
            }

            .storefront-promos {
                width : 720px;
            }

            .storefront-hero {
                width   : 720px;
                padding : 10px;
            }

            .storefront-misc {
                margin-top  : 30px;
                width       : 720px;
            }

            .storefront-categories {
                .gridify {
                    width : 720px;

                    .box {
                        width         : 234px;
                        height        : 378px;
                        margin-bottom : 9px;


                        &:nth-child(3n+2) {
                            margin : auto 9px;
                        }

                        .content {
                            span {
                                &.title {
                                    margin-top : 20px;
                                    font-size  : 20px;
                                }

                                &.price {
                                    margin-top : 5px;
                                    font-size  : 12px;
                                }
                            }

                            .text .slidein {
                                padding-bottom : 15px;

                                a {
                                    font-size   : 10px;
                                    line-height : 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}