@import 'compass';
@import 'vars';
@import 'mixins';

.storefront7 .grid_8 {
    width: 367px;
    float: right;
}

/* Loop */
%grid {
    margin: 0 !important;
}

@for $i from 1 through 24 {
    .grid_#{$i} {
        @extend %grid;
    }
}
/* End loop */

/* Footer */

#branded .grid_24 .grid_6 {
    width: 251px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 18px;

    .col_1 {
        line-height: 20px;

        ul {
            margin-top: 18px;

            li {
                margin-bottom: 7px;
                list-style: none;

                a {
                    font-family:$premiumFontRegular;
                    font-weight: normal;
                    font-size: 16px;
                    color: black !important;
                    text-decoration: none;
                }
            }

        } 

        .main_category {
            margin-top: 13px;
            margin-bottom: 7px;
            text-transform: uppercase;

            a {
                font-family:$premiumFontGill;
                letter-spacing: 2px;
                font-weight: normal;
                font-size: 15px;
                text-decoration: none;
                border-bottom: 1px solid black;
                padding-bottom: 11px;
                min-width: 192px;
                display: inline-block;
            }
        }

        a {
            color: black !important;
            @include transition(all .3s);

            &:hover {
                color: #666 !important;
                @include transition(all .3s);
            }
        }
    }
}

#contentwrapper {
    margin-bottom: 70px;
}

#content {
    padding-bottom: 0;
}
