@import 'compass';
@import 'vars';
@import 'mixins';

/* Imported from jj-5lines */

@import "jj-5lines";

/* End import from jj-5lines */

/* WORDPRESS */

#branded .storefront7 {
    #wp-container {
        overflow: auto;
        margin-bottom: 15px;
    }

    .wp-canvas {
        height: 100%;
        margin: 5px 0 0 0;
    }

    .wp-sidebar {
        .wp-title {
            &:last-child {
                background-image: none;
            }
        }

        .wp-clickable {
            padding: 30px 15px;
            cursor: pointer;
            @include transition(all .2s);
        }

        .wp-title.active .wp-clickable, 
        .wp-clickable:hover {
            background: #f7f5e9;
            @include transition(all .2s);
        }
    }
}


/* GENERAL STUFF */

#branded {
    background-image: url("../img/wrapper-bg.jpg") !important;

    &.pt_brandstorefront {
        .container_24 {
            background: #fff;
        }

        .storefront7 .grid_24 {
            padding: 0px;
            margin-top: 0px;
            width: 1007px;
            margin-left: 0;
        }
    }
}

/* SEPARATOR */

#branded.pt_brandstorefront .storefront7 .separator {
    height: 20px;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom: 47px;
    margin-top: 12px;

    .caption {
        display: inline-block;
        margin-top: 12px;
        background: white;
        padding: 0 22px;
        font-size: 15px;
        font-family:"AGaramond-Regular";
        font-weight: bold;
        letter-spacing: 3px;
    }
}

/* HERO */

#branded {
    &.pt_brandstorefront .storefront7 .hero {
        width: 619px;
        margin-right: 14px;
        float: left;
        overflow: auto;
        margin-bottom: 30px;

        h1 {
            padding: 0 20px;
            text-align: center;
            font-family:"AGaramond-Regular";
            font-weight: bold;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 3px;
        }

        div.multi-column{
            padding: 20px;
            font-family:"AGaramond-Regular";
            font-size: 14px;
            text-align: left;

            p {
                line-height: 18px;
            }
        }

        .column {
            p {
                padding-right: 40px;    
            }

            &.last p{
                padding-right: 0;
            }
        }

        p a {
            display: block;
            margin-top: 10px;
            text-decoration: underline;
            color: black;
        }
    }

    .hero .slideshow {
        min-height: 427px;
    }

    .slideshow .popup {
        h1 {
            letter-spacing: 0px;
            font-size: 10px !important;
        }

        p {
            font-size: 11px !important;
        }
    }
}

/* SHOULDER */

#branded.pt_brandstorefront .storefront7 {
    .shoulder {
        width: 367px;
        float: right;
        background: #f7f5e9;

        .container {
            border: 1px solid black;
            margin: 10px;
            text-align: center;
            padding-bottom: 20px;
        }

        h1 {
            font-family:"Freeway Gothic";
            font-size: 26px;
            text-transform: none;
            font-weight: normal;
            text-align: center;
            margin-top: 30px;
            background: url("../img/premium/p-line.jpg") no-repeat center bottom !important;
            padding-bottom: 17px;
        }

        h2 {
            font-family:"Freeway Gothic";
            font-size: 15px;
            text-transform: uppercase;
            font-weight: normal;
            margin-top: 0;
            line-height: 12px;
            text-align: center;
        }

        a {
            &.image img {
                width: auto;
            }

            &.pricetag {
                text-align: center;
                color: black;
                font-family:"AGaramond-Regular";
                font-weight: bold;
                text-decoration: none !important;
                font-size: 16px;
                display: block;

                &:last-child {
                    font-size: 15px;
                }
            }
        }

        .tip {
            font-family:"AGaramond-Regular";
            font-size: 14px;
            margin: 20px 40px;
            text-align: left;
            line-height: 18px;
        }
    }
}

/* SLIDESHOW */
#branded .slideshow {
    min-height: 500px;

    .bubble {
        background: url("../img/premium/bubble.jpg");
        width: 7px;
        height: 7px;
        background-position: 0 -7px;
        margin-right: 4px;

        &.active {
            background-position: 0 0;
        }
    }

    .prev-btn, 
    .next-btn {
        background: url("../img/premium/prev-next.png");
        width: 30px;
        height: 41px;
        top: 44%;
    }

    .next-btn {
        background-position: 0 -41px;
    }
}

/* TUMBLR */

#branded.pt_brandstorefront .storefront7 {
    #tumblr-content {
        margin-top: 5px;
        min-height: 528px;
    }

    #tumblr-content, 
    #tumblr-overflow {
        width: 1007px;
        margin-left: 14px;
        background: url("../img/spinner.gif") no-repeat center center;

        img {
            margin-bottom: 20px;
            float: left;
            width: 230px;
            height: auto;
            @include opacity(0);
            @include transition(all .3s);
            @include filter(grayscale(1));

            &:hover{
                @include transition(all .3s);
                @include filter(grayscale(0));
            }
        }
    }
}

@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
    #branded.pt_brandstorefront .storefront7 {
        #tumblr-content, 
        #tumblr-overflow {
            img {
                -webkit-filter: grayscale(0) !important;
            }
        }
    }
}

#tumblr-view-more {
    text-align: center;

    p {
        display: inline-block;
        font-family:"AGaramond-Regular";
        font-weight: bold;  
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: normal;
        cursor: pointer;
    }
}

/* WORDPRESS */

#branded .storefront7 {
    #wp-container {
        margin-bottom: 20px;
        overflow: auto;
    }

    .wp-sidebar {
        width: 230px;
        border: 1px solid black;
        margin: 5px 0 0 5px;

        .wp-clickable {
            line-height: 18px;
            font-size: 14px;
        }

        .wp-sidebar-top {
            font-family:"AGaramond-Regular";
            font-size: 26px;
            text-align: center;
            padding: 30px 0;
            border-bottom: 1px solid black;
        }

        .wp-title {
            margin: 10px 0 0;
            padding: 0 10px 10px;
            font-family:"AGaramond-Regular";
            font-size: 14px;
            text-align: center;
            background-image: url("../img/premium/wp-sidebar-dotted.jpg");
            background-position: bottom;
            background-repeat: repeat-x;
        }
    }

    .wp-canvas {
        width: 747px;
        float: right;
        font-size: 18px;
        font-family:"AGaramond-Regular";

        .slideshow {
            min-height: 301px;

            img{
                width: 747px;
            }
        }

        .wp-slide {
            margin-bottom: 20px;
            min-height: 300px;

            img {
                width: 747px;
            }
        }

        .wp-slot.article p {
            font-size: 16px;
            margin: 10px 30px;
            line-height: 27px;
        }

        .wp-slot.qa {
            display: block;
            margin-top: 25px;
            overflow: auto;

            .label {
                float: left;
                font-family:"AGaramond-Regular";
                font-weight: bold;
                text-align: right;
                padding-right: 20px;
                width: 170px;
                font-size: 16px;
                line-height: 27px;
            }

            .content {
                width: 482px;
                float: right;
                padding-right: 75px;

                p {
                    margin-bottom: 0;
                    font-size: 16px;
                    line-height: 27px;
                    font-size: 14px;
                    line-height: 18px;
                }

                a {
                    color: black;
                    text-decoration: underline;
                }
            }
        }
    }
}

/* category banner heading text */

.cat-banner-wrapper {
    h1.catHeading {
        font-size: 58px;
        font-family:"Freeway Gothic";
        text-transform: uppercase;
        background: url("../img/premium/catbanner-h1-background.jpg") bottom center no-repeat !important;
        padding-bottom: 34px;
    }

    div.catLogo {
        background: url("../img/premium/catbannerLogo.png") left 0 no-repeat !important;
        width: 1007px;
        height: 33px;
        position: absolute;
        top: 15px;
        left: 50%;
        margin-left: -503px;
    }
}
