@import 'compass';
@import 'vars';
@import 'mixins';

a {
    color: #000;

    &:hover {
        color: inherit;
    }
}

#branded {
    .area {
        width: 100%;

        .wide_wrapper {
            padding-bottom: 1px;
        }

        .content * {
            font-family: $regular;
        }
    }

    #content .wide_wrapper {
        width: 100% !important;
    }

    .headerfix {
        width: 100%;
    }

    .wrapper {
        background: #fff;
        width: 100%;
        padding: 0;
    }
}



/* Frontpage */
#branded {
    .content {

        *,
        *:after,
        *:before {
            @include box-sizing(border-box);
        }
        /* Grid */
        .grid {
            width: 100%;

            [class*='col-'] {
                float: left;
                padding: 0 10px
            }

            /* One column */
            .col-1-1 {
                width: 100%;
            }

            /* Two columns */
            .col-1-2 {
                width: 50%;
            }

            /* Three columns */
            .col-1-3 {
                width: 33.33%;
            }

            .col-2-3 {
                width: 66.66%;
            }

            /* Four columns */
            .col-1-4 {
                width: 25%;
            }

            .col-2-4 {
                width: 50%;
            }

            .col-3-4 {
                width: 75%;
            }
        }
        
        /* Setting default shared stuff, making DMW my bitch */

        .storefront-brands,
        .storefront-categories {
            width: 1090px;
            margin: 0 auto;
        }

        /* Promos */
        .storefront-promos {
            width: 100%;
            position: absolute;
            z-index: 10;
            top: 20px;

            .promo-container {
                width: 1090px;
                margin: 0 auto;

                div {
                    width: 30%;
                    text-align: center;
                    background: #eee;
                    text-transform: uppercase;
                    font-size: 12px;
                    float: left;
                    line-height: 3em;
                    border: 1px solid #ccc;
                    @include box-sizing(border-box);

                    &:hover {
                        border: 1px solid #000;
                    }

                    &.jj-promo-1 {
                        margin-right: 5%;
                    }

                    &.jj-promo-3 {
                        margin-left: 5%;
                    }

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                    }
                }
            }
        }

        /* Hero */
        .hero {
            width: 100%;

            img {
                width: 100%;
            }
        }

        /* Brands */
        .storefront-brands {
            margin-top: 20px;
            width: 1110px;

            .brand {
                width: 350px;
                border: 1px solid #ebebeb;
                text-align: center;
                margin: 0 0 20px;
                @include box-sizing(border-box);

                .image {
                    width: 308px;
                    height: 407px;
                    margin: 20px 20px 0;
                    position: relative;
                    background-size: 308px 407px;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    .text {
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        z-index: 10;
                        @include opacity(0);

                        a {
                            width: auto;
                            font-size: 11px;
                            line-height: 20px;
                            margin: 0;
                            text-align: right;
                            color: #fff;
                            text-decoration: none;
                            text-transform: uppercase;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .overlay {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        @include opacity(0);
                    }
                }

                span {
                    display: block;
                    font-family: $medium;
                    font-weight: normal;
                    width: 50%;
                    margin: 40px auto 20px;
                    font-size: 12px;
                    line-height: 20px;
                    text-transform: uppercase;

                    a {
                        color: inherit;
                        text-decoration: inherit;
                        font-size: inherit;
                        font-family: inherit;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                a {
                    display: block;
                    font-size: 11px;
                    line-height: 20px;
                    text-decoration: underline;
                    color: #969899;

                    &:hover {
                        color: #000;
                    }
                }

                .buttons {
                    a {
                        width: 85px;
                        display: inline-block;
                        text-transform: uppercase;
                        text-decoration: none;
                        line-height: 26px;
                        color: #000;
                        border: 1px solid #ebebeb;
                        @include background-image(linear-gradient(top, #ffffff, #fafafa));
                    }
                }

                .logo {
                    height: 35px;
                    width: 100px;
                    margin: 15px auto 10px;
                    background: url(../../_localhost/img/logo_sprite.png) no-repeat center;
                }

                &.core {
                    .logo {
                        background-position: center 0;
                    }
                    .image {
                        background: url(../../_localhost/img/brand_core.jpg) no-repeat center;
                    }
                    .overlay {
                        background: rgba(125, 125, 125, 0.3);
                    }
                }

                &.originals {
                    .logo {
                        background-position: center -35px;
                    }
                    .image {
                        background: url(../../_localhost/img/brand_originals.jpg) no-repeat center;
                    }
                    .overlay {
                        background: rgba(125, 125, 125, 0.3);
                    }
                }

                &.premium {
                    .logo {
                        background-position: center -70px;
                    }
                    .image {
                        background: url(../../_localhost/img/brand_premium.jpg) no-repeat center;
                    }
                    .overlay {
                        background: rgba(125, 125, 125, 0.3);
                    }
                }

                &.vintage {
                    .logo {
                        background-position: center -105px;
                    }
                    .image {
                        background: url(../../_localhost/img/brand_vintage.jpg) no-repeat center;
                    }
                    .overlay {
                        background: rgba(125, 125, 125, 0.3);
                    }
                }

                &.tech {
                    .logo {
                        background-position: center -140px;
                    }
                    .image {
                        background: url(../../_localhost/img/brand_tech.jpg) no-repeat center;
                    }
                    .overlay {
                        background: rgba(125, 125, 125, 0.3);
                    }
                }

                &.callout {
                    border: none;

                    span {
                        width: 100%;
                        font-size: 32px;
                        margin: 0 auto;
                        line-height: 32px;
                        font-family: $regular;

                        &:first-child {
                            font-family: $bold;
                            margin-top: 105px;
                        }
                    }

                    p {
                        margin: 35px auto 0;
                        font-size: 12px;
                        width: 70%;
                    }

                    a {
                        color: #000;
                        text-transform: uppercase;
                        margin: 25px auto 70px;
                        font-size: 12px;
                        font-family: $medium;
                    }
                }

                &.sellingpoints {
                    height: 234px;

                    .one {
                        margin-top: 70px;
                    }

                    span {
                        font-size: 12px;
                        line-height: 18px;
                        margin: 0 auto;
                        width: 100%;
                        text-transform: none;
                        font-family: $regular;

                        &:first-child {
                            margin-top: 30px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        /* Misc */
        .storefront-misc {
            background: #fafafa;
            text-align: center;
            padding-top: 65px;
            margin-top: 85px;
            padding-bottom: 100px;

            h1 {
                text-transform: uppercase;
                font-size: 22px;
                font-family: $regular;
                font-weight: normal;
                letter-spacing: 1px;

                &:after {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 1090px;
                    height: 1px;
                    background: #ebebeb;
                    margin-top: 15px;
                }
            }

            .controls {
                background: #fafafa;
                width: 100px;
                margin: -11px auto 0;

                a {
                    display: inline-block;
                    width: 21px;
                    height: 21px;
                    background: url(../../_localhost/img/controls_sprite.png) no-repeat top left #fafafa;
                    padding: 5px;

                    &.mixed {
                        background-position: left top;

                        &.active {
                            background-position: right top;
                        }
                    }

                    &.large {
                        background-position: left center;

                        &.active {
                            background-position: right center;
                        }
                    }

                    &.small {
                        background-position: left bottom;

                        &.active {
                            background-position: right bottom;
                        }
                    }
                }
            }
        }

        /* Categories */
        .storefront-categories {
            width: 100%;
            background: #fafafa;

            .gridify {
                width: 1080px;
                margin: 0 auto;

                .box {
                    padding: 5px;

                    .content {
                        width: 100%;
                        height: 100%;
                        border: 1px solid #ebebeb;
                        overflow: hidden;
                        position: relative;
                        //cursor: pointer;

                        .text {
                            position: absolute;
                            width: 100%;
                            bottom: -90px;
                            background: rgba(250, 250, 250, 0.0);
                            padding-top: 35px;

                            span {
                                text-transform: uppercase;
                                text-align: center;
                                display: block;

                                &.title {
                                    font-size: 20px;
                                    letter-spacing: 1px;
                                }

                                &.price {
                                    font-size: 13px;
                                    font-family: $medium;
                                    margin-top: 10px;
                                }
                            }

                            .slidein {
                                text-align: center;
                                margin-top: 15px;
                                padding-bottom: 35px;
                                //@include opacity(0);

                                a {
                                    display: block;
                                    font-family: $bold;
                                    text-transform: uppercase;
                                    font-size: 13px;
                                    line-height: 30px;
                                    @include opacity(0);
                                }

                                .bar {
                                    width: 10px;
                                    height: 2px;
                                    background: #000;
                                    margin: 0 auto 8px;
                                    @include opacity(0);
                                }
                            }
                        }

                        .overlay {
                            width: 100%;
                            height: 100%;
                            background: rgba(250, 250, 250, 0.15);
                            @include opacity(0);
                        }
                    }

                    /* Imgs for testing */

                    &[data-pos-mixed='1'] .content,
                    &[data-pos-mixed='11'] .content {
                        background: url(../../_localhost/img/category1.jpg) no-repeat center / cover;
                    }

                    &[data-pos-mixed='2'] .content,
                    &[data-pos-mixed='7'] .content,
                    &[data-pos-mixed='14'] .content,
                    &[data-pos-mixed='20'] .content {
                        background: url(../../_localhost/img/category2.jpg) no-repeat center / cover;
                    }

                    &[data-pos-mixed='3'] .content,
                    &[data-pos-mixed='9'] .content,
                    &[data-pos-mixed='15'] .content,
                    &[data-pos-mixed='16'] .content {
                        background: url(../../_localhost/img/category3.jpg) no-repeat center / cover;
                    }

                    &[data-pos-mixed='4'] .content,
                    &[data-pos-mixed='10'] .content,
                    &[data-pos-mixed='12'] .content,
                    &[data-pos-mixed='17'] .content {
                        background: url(../../_localhost/img/category4.jpg) no-repeat center / cover;
                    }

                    &[data-pos-mixed='5'] .content,
                    &[data-pos-mixed='6'] .content,
                    &[data-pos-mixed='13'] .content,
                    &[data-pos-mixed='19'] .content {
                        background: url(../../_localhost/img/category5.jpg) no-repeat center / cover;
                    }


                    &[data-pos-mixed='8'] .content,
                    &[data-pos-mixed='18'] .content {
                        background: url(../../_localhost/img/category8.jpg) no-repeat center / cover;
                    }
                }

                /* Mixed grid */
                &.mixed {
                    .box {
                        width: 270px;
                        height: 345px;

                        &.large {
                            width: 540px;
                            height: 690px;
                        }
                    }
                }

                /* Large grid */
                &.large {
                    .box {
                        width: 540px;
                        height: 690px;
                    }
                }


                /* Small grid */
                &.small {
                    .box {
                        width: 270px;
                        height: 345px;
                    }
                }
            }
        }
    }
}

/* Isotope animation stuff */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}