@import 'compass';
@import 'vars';
@import 'mixins';

#searchSuggestContainer {
	background-color : initial;
	box-shadow       : initial;
	max-height       : initial;
	width            : initial;
	padding          : initial;
	position         : initial;
	z-index          : initial;
	right            : initial;
	top              : initial;
}

#branded .side-menu {
	position         : fixed;
	z-index          : 98;
	top              : 35px;
	left             : 0;
	width            : 0px;
	height           : 100%;
	background-color : #222426;
	@include backface-visibility(hidden);

	.logo {
		display : none;
	}
	
	.simple_search.flash {
		border-color : #fff !important;
		//@include transition(border .25s ease-in !important);
		@include transition(border .25s ease-out !important);
	}

	.side-menu-categories .simple_search {
		input {
			text-transform : uppercase;
			font-size      : 11px;
			padding-left   : 12px;
			padding-top    : 2px;
			font-family    : $nextMedium;
			text-rendering : geometricPrecision;
			
			&::-ms-clear {
				display: none;
			}
		}

		&.focus input {
			padding-left : 52px;
			text-align   : initial !important;
		
			&:target {
				color : red;
			}
		}
	}
	
	.simple_search {
		position         : fixed;
		top              : 0;
		left             : 0;
		border           : 2px solid #3d3f40;
		height           : 38px;
		width            : 185px;
		margin           : 59px 20px 25px;
		background-color : #222426;
		font-family      : $nextMedium;
		@include box-shadow(#222426 -25px -29px 20px 40px);
		//@include transition(border .25s ease-in !important);
		@include transition(border .25s ease-out !important);
		
		&:hover {
			border-color : #666;
			@include transition-duration(1s);
		}
		
		input {
			color          : #ffffff;
			width          : 161px;
			height         : 33px;
			line-height    : 16px;
			padding        : 0 0 0 10px;
			margin         : 0;
			background     : none;
			text-transform : none;
			outline        : 0 none;
			border         : 0 none;
			font-size      : 10px;
			text-indent    : 40px;
			font-family    : Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-weight    : normal;
			@include box-shadow(none);
		}

		button {
			border     : 0 none;
			margin-top : 3px;
			background : url("../img/search_btn.png") no-repeat 0 0;
			position   : absolute;
			top        : 6px;
			left       : 17px;
		}
		
		&.focus input {
			background  : transparent none;
			text-indent : 0px;
			width       : 110px;
		}
	}

	.side-menu-categories {
		position                      : absolute;
		left                          : -48px;
		top                           : 0px;
		width                         : 276px;
		height                        : 100%!important;
		border-right                  : 1px solid #f0f0f0;
		background-color              : #222426;
		z-index                       : 1;
		overflow                      : hidden;
		padding-left                  : 2px;
		/* -webkit-overflow-scrolling : touch;*/
		
		.category_menu {
			width          : 100%;
			position       : static;
			padding-bottom : 80px;
		
			ul.categories {
				margin-left : 41px;
				margin-top  : 120px;
		
				li {
					float      : none;
					display    : block;
					top        : 0;
					text-align : left;
		
					.lhn-subcategories {
						margin        : 0;
						display       : block;
						margin-bottom : -10px;
						margin-top    : -8px;
					}
		
					&.level0item {
						padding          : 0;
						background-image : none;
						text-align       : left;
						margin-bottom    : 0px;
		
						a! {}
		
						> a {
							font-family    : $medium;
							font-size      : 11px;
							font-weight    : normal;
							text-transform : uppercase;
							letter-spacing : 0.1em;
							color          : #595b5c;
							padding        : 14px 0 16px;
							margin-left    : 41px;
						}
		
						img.categorythumbnail {
							margin : 12px 0 0 0;
							cursor : pointer;
						}
		
						ul.items {
							line-height : 20px;
							padding     : 4px 0 4px 2.5px;
		
							.icon-container {
								float        : left;
								margin-right : 5px;
		
								img {
									margin: 0;
								}
							}
		
							&.active.selected:hover,
							&:hover {
								background : url('../img/jj-nav-hover-bg.png') 5px;
							}

							&.active {
								background : url('../img/jj-nav-active-bg.png') 5px;
							}
						}
					}

					&.level1item ul.items .active .selected {
						background : url('../img/jj-nav-active-bg.png') 5px;
					}
					
					&.level0item#category_3 ul.items.active, 
					&.level1item ul.items .active .selected {
						background    : url('../img/jj-nav-active-bg.png') 5px;
						margin-bottom : 12px;
					}

					&.level0item {
						&#category_2 ul.items {
							padding-bottom : 1px;
						}
					
						&#category_3 ul.items {
							padding-bottom : 4px;
						}
					
						&#category_22 ul.items {
							padding-bottom : 1px;
						}
					
						ul.items {
							&:last-child {
								margin-bottom : 23px;
							}
					
							a {
								font-family    : $nextMedium;
								font-size      : 14px;
								color          : #ffffff;
								text-rendering : geometricPrecision;
								font-weight    : normal;
								letter-spacing : normal;
								line-height    : 20px;
								margin-left    : 39px;

								&:hover {
									text-decoration : none;
								}
							}

							.icon-container {
								margin-left : 39px;
							}
							
							li {
								a {
									font-family            : $nextMedium;
									font-weight            : normal;
									-webkit-font-smoothing : antialiased;
									text-rendering         : geometricPrecision;
									font-size              : 12px;
									line-height            : 21px;
									color                  : #999999;
									letter-spacing         : 0;
									background             : url("../img/arrow_sprite.png") no-repeat 0 10px;
									padding-left           : 25px;
									margin-left            : 42px;

									&:hover {
										color               : #ffffff;
										text-decoration     : none;
										background-position : 0 -16px;
										background-color    : #2c2d2f;
									}
								}

								&.level2item {
									display : none;
								
									&:last-child {
										margin-bottom : 4px;
									}
								}
							}
						}

						&.jj-c-home,
						&.jj-o-home,
						&.jj-p-home,
						&.jj-v-home,
						&.jj-t-home,
						&.jj-home {
							display : none;
						}
						
						&.jj-j-shop-highlights > a,
						&.jj-v-shop-highlights > a,
						&.jj-c-shop-highlights > a,
						&.jj-o-shop-highlights > a,
						&.jj-p-shop-highlights > a,
						&.jj-t-shop-highlights > a {
							padding    : 0px 0 16px;
							margin-top : -6px;
						}

						&.jj-j-shop-highlights .items a,
						&.jj-v-shop-highlights .items a,
						&.jj-c-shop-highlights .items a,
						&.jj-o-shop-highlights .items a,
						&.jj-p-shop-highlights .items a,
						&.jj-t-shop-highlights .items a {
							font-family : $nextMedium;
						}

						&.jj-j-miscellaneous > a,
						&.jj-c-miscellaneous > a,
						&.jj-o-miscellaneous > a,
						&.jj-p-miscellaneous > a,
						&.jj-v-miscellaneous > a,
						&.jj-t-miscellaneous > a {
							padding       : 14px 0 11px;
							margin-bottom : 5px;
						}

						&.jj-j-miscellaneous .items a,
						&.jj-c-miscellaneous .items a,
						&.jj-o-miscellaneous .items a,
						&.jj-p-miscellaneous .items a,
						&.jj-v-miscellaneous .items a,
						&.jj-t-miscellaneous .items a {
							font-family : $nextMedium;
						}
						&.active {
							.lhn-subcategories {
								padding : 0 0 1px 0;
							}
						
							ul.active li.level2item:nth-of-type(1) {
								margin-top : 7px;
							}

							dd {
								&.selected ul.active > a {
									text-decoration : none;
								}
							
								ul.active > a {
									text-decoration : none;
									margin-bottom   : initial;
							
									&:hover {
										text-decoration : none;
										margin-bottom   : initial;
										background      : #2b2d2f;
										@include box-shadow(#2b2d2f -34px 0px 0px 0px);
									}
								}
							}
							
							ul.active li.level2item {
								display        : block;
								text-transform : uppercase;
							
								&:hover {
									display        : block;
									text-transform : uppercase;
									background     : url('../img/jj-nav-hover-bg.png') 2px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#branded .side-menu .side-menu-categories {
		position : fixed !important;
	}
}

.lhn-subcategories .background .category .ul_wrapper {
	margin-bottom : 10px;
}
#branded .side-menu .lhn-subcategories .category .ul_wrapper img {
	margin-left    : 40px;
	margin-top     : 2px;
	margin-right   : 10px;
	float          : left;
	vertical-align : initial;
}
#branded .side-menu .side-menu-categories .category_menu ul.categories li.level0item.active ul.active li.level2item {
	&:first-child {
		margin-top : 18px;
	}

	&.active > a {
		text-decoration : none;
		color           : #fff;
		border-left     : none;
	}
}

/* Scrollbar styles */

.ps-container .ps-scrollbar-x-rail,
.ps-container .ps-scrollbar-y-rail {
	position : absolute;
	/* please don't change 'position' */
}

.ps-container .ps-scrollbar-x-rail {
	bottom : 0px;
	height : 2px;
}

.ps-container .ps-scrollbar-y-rail {
	right : 0px;
	width : 2px;
}

.ps-container.hover .ps-scrollbar-x-rail,
.ps-container.hover .ps-scrollbar-y-rail,
.ps-container:hover .ps-scrollbar-x-rail,
.ps-container:hover .ps-scrollbar-y-rail {
	width : 2px;
}

.ps-container.hover .ps-scrollbar-x,
.ps-container.hover .ps-scrollbar-y, 
.ps-container:hover .ps-scrollbar-x,
.ps-container:hover .ps-scrollbar-y {
	width            : 8px;
	margin-right     : 4px;
	background-color : #9b9c9d;
	z-index          : 10;
}

.ps-container .ps-scrollbar-x,
.ps-container .ps-scrollbar-y {
	/* please don't change 'position' */
	position              : absolute;
	background-color      : #4c4c4c;
	@include border-radius(10px);
	@include transition(all 0.1s linear);
}

.ps-container .ps-scrollbar-x {
	bottom : 0;
	height : 2px;
}

.ps-container .ps-scrollbar-y {
	right            : 0;
	margin-right     : 4px;
	width            : 3px;
	z-index          : 10;
	border-radius    : 10px; 
	background-color : #9b9c9d;
}

.ps-container.ie6 .ps-scrollbar-x,
.ps-container.ie6 .ps-scrollbar-y {
	font-size : 0;
	/* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container.ie .ps-scrollbar-x,
.ps-container.ie .ps-scrollbar-y {
	visibility : hidden;
}

.ps-container.ie:hover .ps-scrollbar-x,
.ps-container.ie:hover .ps-scrollbar-y, 
.ps-container.ie.hover .ps-scrollbar-x,
.ps-container.ie.hover .ps-scrollbar-y {
	visibility : visible;
}