@import 'compass';
@import 'vars';
@import 'mixins';

a {
    color : #2a2a2a;

    &:hover {
        color : inherit;
    }
}

#branded {
    .area {
        width : 100%;

        .wide_wrapper {
            padding-bottom : 1px;
        }

        .content * {
            font-family : $regular;
        }
    }

    #content .wide_wrapper {
        width : 100% !important;
    }

    .headerfix {
        width : 100%;
    }

    .wrapper {
        background : #fff;
        width      : 100%;
        padding    : 0;
    }
}



/* Frontpage */
#branded {
    .content {
        *,
        *:after,
        *:before {
            color : #2a2a2a;
            @include box-sizing(border-box);
        }
        /* Grid */
        .grid {
            width : 100%;

            [class*='col-'] {
                float   : left;
                padding : 0 10px
            }

            /* One column */
            .col-1-1 {
                width : 100%;
            }

            /* Two columns */
            .col-1-2 {
                width : 50%;
            }

            /* Three columns */
            .col-1-3 {
                width : 33.33%;
            }

            .col-2-3 {
                width : 66.66%;
            }

            /* Four columns */
            .col-1-4 {
                width : 25%;
            }

            .col-2-4 {
                width : 50%;
            }

            .col-3-4 {
                width : 75%;
            }
        }
        
        // Setting default shared stuff, making DMW my bitch

        .storefront-brands,
        .storefront-categories {
            width  : 1090px;
            margin : 0 auto;
        }

        // Storefront logo
        .storefront-logo {
            width      : 248px;
            height     : 24px;
            margin     : 40px auto 0;
            background : #fff url(../img/storefront_logo.jpg) center no-repeat;
        }

        // Hero
        .storefront-hero {
            width   : 1090px;
            margin  : 30px auto 0;
            padding : 20px;
            border  : 1px solid #ebebeb;

            .hero {
                margin   : 0 auto;
                position : relative;

                img {
                    width  : 100%;
                }

                .swiper-prev,
                .swiper-next {
                    position   : absolute;
                    z-index    : 10;
                    width      : 60px;
                    height     : 100%;
                    top        : 0;
                    cursor     : pointer;
                    background : url(../img/sprite_hero_controls.png) no-repeat;
                    display    : none;
                }

                .swiper-prev {
                    background-position : left center;
                    left                : 10px;
                }

                .swiper-next {
                    background-position : right center;
                    right               : 10px;
                }

                .swiper-pagination-container {
                    position : absolute;
                    left     : 50%;
                    bottom   : 15px;

                    .swiper-pagination {
                        text-align : center;
                        position   : relative;
                        left       : -50%;

                        span {
                            display    : inline-block;
                            width      : 10px;
                            height     : 10px;
                            background : rgba(255, 255, 255, .25);
                            margin     : 0 4px;
                            cursor     : pointer;
                            @include border-radius(10px);

                            &.swiper-active-switch {
                                background : rgba(255, 255, 255, .85);
                            }
                        }
                    }
                }

                &.swiper-container .swiper-slide {
                    display : none;

                    &.first-slide {
                        display : block;
                    }
                }
            }
        }

        // Brands
        .storefront-brands {
            margin-top : 20px;
            width      : 1110px;

            .brand {
                width      : 100%;
                border     : 1px solid #ebebeb;
                text-align : center;
                margin     : 0 0 20px;
                @include box-sizing(border-box);

                .image {
                    width    : 308px;
                    height   : 407px;
                    margin   : 20px auto 0;
                    position : relative;

                    img {
                        width  : 100%;
                        height : auto;
                    }

                    &:before {
                        content       : '';
                        display       : inline-block;
                        width         : 0;
                        height        : 0;
                        border-left   : 7px solid transparent;
                        border-right  : 7px solid transparent;
                        border-bottom : 7px solid #fff;
                        margin        : 0 auto;
                        position      : absolute;
                        bottom        : 0;
                        z-index       : 1;
                    }

                    .buttons {
                        position       : absolute;
                        z-index        : 10;
                        top            : 150px;
                        pointer-events : none;
                        @include opacity(0);

                        a {
                            width           : auto;
                            font-size       : 12px;
                            line-height     : 1.5;
                            margin          : 0;
                            text-align      : center;
                            color           : #fff;
                            text-decoration : none;
                            text-transform  : uppercase;
                            border          : 1px solid #fff;
                            padding         : 12px 22px;
                            display         : inline-block;
                            letter-spacing  : 1px;
                            font-family     : $regular;
                            pointer-events  : auto;
                            max-width       : 80%;
                            
                            &:first-child {
                                margin-bottom : 20px;
                            }

                            &:hover {
                                background : #fff;
                                color      : #2d3b4b;
                            }
                        }
                    }

                    .overlay {
                        width    : 100%;
                        height   : 100%;
                        position : absolute;
                        @include opacity(0);
                    }
                }

                span {
                    display        : block;
                    font-family    : $medium;
                    font-weight    : normal;
                    width          : 50%;
                    margin         : 40px auto 20px;
                    font-size      : 12px;
                    line-height    : 20px;
                    text-transform : uppercase;
                }

                a {
                    display         : block;
                    font-size       : 11px;
                    line-height     : 20px;
                    text-decoration : underline;
                    color           : #2a2a2a;

                    &:hover {
                        color : #000;
                    }
                }

                .logo {
                    height     : 34px;
                    width      : 100px;
                    margin     : 20px auto 19px;
                    background : url(../img/logo_sprite.png) no-repeat center;
                }

                &.core {
                    .logo {
                        background-position : center 0;
                    }
                }

                &.originals {
                    .logo {
                        background-position : center -34px;
                    }
                }

                &.premium {
                    .logo {
                        background-position : center -68px;
                    }
                }

                &.vintage {
                    .logo {
                        background-position : center -102px;
                    }
                }

                &.tech {
                    .logo {
                        background-position : center -136px;
                    }
                }

                &.sellingpoints {
                    border : none;

                    .one,
                    .two {
                        border : 1px solid #ebebeb;
                    }

                    .one {
                        height : 335px;

                        .content {
                            position : relative;

                            span {
                                font-size      : 12px;
                                line-height    : 20px;
                                margin         : 0 auto;
                                width          : 215px;
                                text-transform : none;
                                font-family    : $regular;

                                &.heading {
                                    font-family    : $medium;
                                    text-transform : uppercase;
                                }
                            }

                            .icon {
                                width      : 33px;
                                height     : 32px;
                                margin     : 0 auto 17px;
                                background : transparent url(../img/sprite_callout_icons.png) center top no-repeat;

                                &.last {
                                    margin-top : 45px;
                                }

                                &.shipping {
                                    background-position : center top;
                                }

                                &.returns {
                                    background-position : center 100%;
                                }
                            }
                        }
                    }

                    .two {
                        height     : 147px;
                        margin-top : 20px;

                        span.customerclub {
                            width      : 100%;
                            margin-top : 33px;
                        }

                        form fieldset label {
                            display : none;
                        }

                        #footer-newsletter-signup {
                            margin-top : 0;

                            fieldset {
                                padding : 0;

                                input {
                                    line-height    : 38px;
                                    padding        : 0;
                                    height         : 40px;
                                    border         : 1px solid #e5e5e5;
                                    border-right   : 0;
                                    font-family    : $regular;
                                    font-weight    : normal;
                                    font-size      : 10px;
                                    width          : 200px;
                                    padding-left   : 15px;
                                    color          : #252525;
                                    float          : left;
                                    text-transform : uppercase;
                                }

                                button {
                                    height      : 40px;
                                    width       : 30px;
                                    border      : 1px solid #e5e5e5;
                                    border-left : 0;
                                    background  : transparent url(../img/footer_newsletter_arrow.png) center no-repeat;
                                    float       : right;
                                    text-indent : -9999px;
                                }
                            }

                            .fields {
                                width  : 230px;
                                margin : 0 auto;
                            }
                        }

                    }
                }
            }
        }

        /* Misc */
        .storefront-misc {
            text-align     : center;
            padding-top    : 60px;
            padding-bottom : 15px;
            width          : 1090px;
            position       : relative;
            margin         : 0 auto;

            h1 {
                text-transform : uppercase;
                font-size      : 12px;
                font-family    : $regular;
                font-weight    : normal;
                letter-spacing : 1px;
                color          : #2a2a2a;
                line-height    : normal;
                display        : inline-block;
                background     : #fff;
                position       : relative;
                z-index        : 1;
                margin         : 0 auto;
                padding        : 0 25px;
            }

            .stroke {
                width      : 100%;
                height     : 1px;
                background : #ebebeb;
                margin     : 0 auto;
                bottom     : 22px;
                position   : absolute;
                z-index    : 0;
            }
        }

        /* Categories */
        .storefront-categories {
            width : 100%;

            .gridify {
                width  : 1090px;
                margin : 0 auto;

                .box {
                    margin-bottom : 20px;
                    float         : left;
                    width         : 350px;
                    height        : 550px;

                    &:nth-child(3n+3) {
                        margin : auto 20px;
                    }

                    .content {
                        width    : 100%;
                        height   : 100%;
                        border   : 1px solid #ebebeb;
                        position : relative;
                        @include background-size(cover);

                        span {
                            text-align     : center;
                            display        : block;

                            &.title {
                                letter-spacing : 1px;
                                font-family    : $regular;
                                font-size      : 26px;
                                margin-top     : 32px;
                            }

                            &.price {
                                font-size  : 14px;
                                margin-top : 8px;

                                b {
                                    font-family : $medium;
                                    font-weight : normal;
                                }
                            }
                        }

                        .text {
                            position     : absolute;
                            width        : 100%;
                            bottom       : 0;
                            z-index      : 2;

                            .slidein {
                                text-align     : center;
                                padding-bottom : 29px;

                                a {
                                    display         : block;
                                    font-family     : $regular;
                                    text-transform  : uppercase;
                                    font-size       : 11px;
                                    line-height     : 22px;
                                    text-decoration : underline;

                                    &:hover {
                                        text-decoration : none;
                                    }
                                }
                            }
                        }

                        .overlay {
                            width      : 100%;
                            height     : 100%;
                            background : rgba(252, 252, 252, 0.15);
                            position   : absolute;
                            top        : 0;
                            @include opacity(0);
                        }
                    }
                }
            }
        }
    }
}

// Breakpoints

// 1200 - 1400 px
@media only screen 
and (max-width : 1400px) {
    #branded {
        .content {
            .grid {
                [class*='col-'] {
                    padding : 0 10px
                }
            }

            .storefront-hero {
                width : 880px;
            }

            .storefront-brands {
                width : 900px;
            }

            .storefront-promos {
                .promo-container {
                    width : 900px;
                }
            }

            .storefront-brands {
                .brand {
                    margin : 0 0 20px;

                    .image {
                        width  : 240px;
                        height : 317px;

                        .buttons {
                            top : 110px;

                            a {
                                font-size : 11px;
                                padding   : 10px 20px;
                            }
                        }
                    }

                    &.sellingpoints {
                        .one {
                            height : 268px;

                            .icon {
                                margin : 0 auto 15px !important;

                                &.last {
                                    margin-top : 30px !important;
                                }
                            }
                        }

                        .two {
                            height : 124px;

                            span.customerclub {
                                margin-top    : 21px;
                                margin-bottom : 15px;
                            }
                        }
                    }
                }
            }

            .storefront-misc {
                padding-top : 30px;
                margin-top  : 50px;
                width       : 880px;
            }

            .storefront-categories {
                .gridify {
                    width: 880px;

                    .box {
                        width  : 280px;
                        height : 440px;

                        .content {
                            span {
                                &.title {
                                    margin-top : 35px;
                                }
                            }

                            .bar {
                                margin-top : 20px;
                            }

                            .text .slidein {
                                padding-bottom : 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// < 1200px
@media only screen 
and (max-width : 1200px) {
    #branded {
        .content {
            .grid {
                [class*='col-'] {
                    padding : 0 5px;
                }
            }

            .storefront-hero {
                width   : 720px;
                padding : 10px;
            }

            .storefront-brands {
                width      : 730px;
                margin-top : 9px;
            }

            .storefront-promos {
                .promo-container {
                    width : 720px;
                }
            }

            .storefront-brands {
                .brand {
                    margin : 0 0 9px;

                    .image {
                        width  : 210px;
                        height : 278px;
                        margin : 10px auto 0;

                        .buttons {
                            top : 90px;

                            a {
                                font-size : 10px;
                                padding   : 10px 15px;
                            }
                        }
                    }

                    &.sellingpoints {
                        .one {
                            height : 220px;

                            .icon {
                                margin : 0 auto 10px !important;

                                &.last {
                                    margin-top : 20px !important;
                                }
                            }
                        }

                        .two {
                            height     : 124px;
                            margin-top : 10px;

                            span.customerclub {
                                margin-top    : 21px;
                                margin-bottom : 15px;
                            }

                            #footer-newsletter-signup {
                                fieldset {
                                    input {
                                        width : 160px;
                                    }
                                }

                                .fields {
                                    width : 190px;
                                }
                            }
                        }
                    }

                    .logo {
                        margin : 15px auto;
                    }
                }
            }

            .storefront-misc {
                padding-top : 20px;
                margin-top  : 15px;
                width       : 720px;
            }

            .storefront-categories {
                .gridify {
                    width : 720px;

                    .box {
                        width         : 234px;
                        height        : 378px;
                        margin-bottom : 9px;


                        &:nth-child(3n+3) {
                            margin : auto 9px;
                        }

                        .content {
                            span {
                                &.title {
                                    margin-top : 20px;
                                    font-size  : 20px;
                                }

                                &.price {
                                    margin-top : 5px;
                                    font-size  : 12px;
                                }
                            }

                            .text .slidein {
                                padding-bottom : 15px;

                                a {
                                    font-size   : 10px;
                                    line-height : 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}