@import 'compass';
@import 'vars';
@import 'mixins';

#branded .side-menu {
	position         : fixed;
	z-index          : 98;
	top              : 35px;
	left             : 0;
	width            : 85px;
	height           : 100%;
	background-color : #222426;

	.logo {
		display : none;
	}
	.simple_search {
		position : relative;
		top      : 0;
		left     : 0;
		border   : 1px solid #d9d9d9;
		height   : 30px;
		margin   : 27px 18px 25px;

		input {
			color          : #666;
			width          : 130px;
			height         : 30px;
			line-height    : 16px;
			padding        : 0 0 0 10px;
			margin         : 0;
			background     : none;
			text-transform : none;
			box-shadow     : none;
			outline        : 0 none;
			border         : 0 none;
			font-size      : 10px;
			text-indent    : 40px;
			font-family    : Arial, "Helvetica Neue", Helvetica, sans-serif;
		}
		button{
			border     : 0 none;
			margin-top : 3px;
		}
	}

	.simple_search.focus {
	    
	    input {
			background  : transparent none;
	        text-indent : 0px;
	        width       : 110px;
	    }
		button {
			border     : 0 none;
			margin-top : 3px;
			background : transparent url(../../images/header_search_btn.png) 4px 3px no-repeat;
			
			&:hover{
				margin-top          : 6px;
				background-position : 4px -18px;
			}
		}
	}

	.side-menu-categories {
		position         : absolute;
		left             : 86px;
		top              : 0px;
		width            : 186px;
		height           : 100%;
		border-right     : 1px solid #f0f0f0;
		background-color : #fff;
		z-index          : 1;
		overflow         : auto;
		padding-left     : 2px;
		overflow         : hidden;

		.category_menu { 
			width    : 100%;
			position : static;
			
			ul.categories{
				li {
					float      : none;
					display    : block;
					top        : 0;
					text-align : center;
					
					.lhn-subcategories {
						margin : 0;
					}
				}		
				li.level0item {
					padding       : 0;
					background    : url('../img/sidebar_separator.png') no-repeat 50% 0 transparent;
					text-align    : center;
					margin-bottom : 0px;

					> a {
						font-family    : $bold;
						font-size      : 12px;
						font-weight    : normal;
						text-transform : uppercase;
						letter-spacing : 0.1em;
						color          : #000;
						padding        : 10px 0 21px;
					}

					img.categorythumbnail {
						margin : 16px 0 0 0;
						cursor : pointer;
					}

				    ul.items {
				        margin : 0 0 8px 0;

				        &:last-child {
							margin-bottom : 23px;
				        }

				        a {
							font-family    : $regular;
							font-size      : 11px;
							color          : #333;
							font-weight    : normal;
							letter-spacing : 1px;

				            &:hover {
				            	text-decoration: underline;
				            }
				        }

				        li {
					        a {
								font-family    : $light;
								font-weight    : normal;
								font-size      : 11px;
								line-height    : 21px;
								color          : #666;
								letter-spacing : 0;

								&:hover {
									color : #000;
									text-decoration: none;
								}
					        }
				        }
				        
				        li.level2item {
				        	display : none;
				        }
				    }

				    &.jj-c-home,
				    &.jj-o-home,
				    &.jj-p-home,
				    &.jj-v-home,
				    &.jj-t-home,
				    &.jj-home {
						display : none;
				    }

				    &.jj-j-shop-highlights > a,
				    &.jj-c-shop-highlights > a,
				    &.jj-o-shop-highlights > a,
				    &.jj-p-shop-highlights > a,
				    &.jj-v-shop-highlights > a,
				    &.jj-t-shop-highlights > a {
						padding: 30px 0 14px;
				    }


				    &.jj-j-miscellaneous,
				    &.jj-c-miscellaneous,
				    &.jj-o-miscellaneous,
				    &.jj-p-miscellaneous,
				    &.jj-v-miscellaneous,
				    &.jj-t-miscellaneous {
						padding-top: 20px;
				    }
				}

				li.level0item.active {
					background-color : #fcfcfc;

					.lhn-subcategories {
						padding : 0 0 1px 0;
					}

					ul.active { 
						//margin-bottom : 18px;

						> a {
							text-decoration : underline;
							margin-bottom   : 10px;
						}

						li.level2item {
							display    : block;

							&:first-child {
								margin-top : 18px;
							}
				        }

						li.level2item.active > a {
							text-decoration : underline;
				        }
			        }					
				}
			}
		}
	}

	.contentasset,
	.tabsplaceholder,
	.tabscontainer {
		height : 100%;
	}
}

/* Tabbed navigation */
#branded .tabsplaceholder {
	width    : 85px;
	position : absolute;
	z-index  : 2;

	.tabscontainer {
		z-index          : 49;
		width            : 100%;
		background-color : #222426;

		.home {
			width      : 100%;
			height     : 55px;
			position   : relative;
			top        : 10px;
			background : transparent url(../img/sidebar.png) center -755px no-repeat;
			@include opacity(0.23);
			@include transition(opacity .3s linear);

			&:hover {
				@include opacity(.4);
			}

			a {
				display : block;
				width   : 100%;
				height  : 100%;
			}
		}
		
		.jj-logo-container {
			width       : 85px;
			height      : 50px;
			margin      : 0;
			background  : transparent url(../img/sidebar.png) 0 -50px no-repeat;
			cursor      : pointer;
			position    : absolute;
			bottom      : 45px
		}

		.tabs {
			position : absolute;
			top      : 50%;
			width    : 85px;
			margin   : -200px 0 0 0;

			.tab {
				height     : 50px;
				background : url('../img/sidebar.png') no-repeat 0 0 transparent;

				a {
					background : url('../img/sidebar.png') no-repeat 0 0 transparent;
					display    : block;
					height     : 100%;
					width      : 100%;
					@include opacity(0.5);
				}
			}
			.tab.active {
				background-color : #fff;
				
				a {
					@include opacity(1);
				}
			}

			.jackjones a {
				background-position : 0 -100px;
				margin-bottom       : 50px;
				
			}
			.jackjones.active a {
				background-position : 0 -450px;
			}
			.core a {
				background-position : 0 -150px;
			}
			.core.active a {
				background-position : 0 -500px;
			}
			.originals a {
				background-position : 0 -200px;
			}
			.originals.active a {
				background-position : 0 -550px;
			}
			.premium a {
				background-position : 0 -250px;
			}
			.premium.active a {
				background-position : 0 -600px;
			}
			.vintage a {
				background-position : 0 -300px;
			}
			.vintage.active a {
				background-position : 0 -650px;
			}
			.tech a {
				background-position : 0 -350px;
			}
			.tech.active a {
				background-position : 0 -700px;
			}

			.jackjones {
				margin-bottom: 60px;
			}

			.core.tab,
			.jackjones.tab {
				background-image: none;
			}
		}
	}
}

/* Scrollbar styles */
.ps-container {
    .ps-scrollbar-x-rail,
    .ps-scrollbar-y-rail {
        position : absolute; /* please don't change 'position' */
    }

    .ps-scrollbar-x-rail {
        bottom : 0px;
        height : 2px;
    }

    .ps-scrollbar-y-rail {
        right : 0px;
        width : 2px;
    }

    &.hover,
    &:hover {
        .ps-scrollbar-x-rail,
        .ps-scrollbar-y-rail {
			width : 4px;
        }

        .ps-scrollbar-x,
        .ps-scrollbar-y {
			width : 4px;
			background-color: #404040;
        }
    }

    .ps-scrollbar-x,
    .ps-scrollbar-y {
        position         : absolute; /* please don't change 'position' */
        background-color : #e5e5e5;
        @include border-radius(2px);
        @include transition(all .1s linear);
    }

    .ps-scrollbar-x {
        bottom : 0;
        height : 2px;
    }

    .ps-scrollbar-y {
        right : 0;
        width : 2px;
    }

    &.ie6 {
        .ps-scrollbar-x,
        .ps-scrollbar-y {
            font-size : 0; /* fixed scrollbar height in xp sp3 ie6 */
        }
    }

    &.ie {
        .ps-scrollbar-x,
        .ps-scrollbar-y {
            visibility : hidden;
        }

        &:hover,
        &.hover {
            .ps-scrollbar-x,
            .ps-scrollbar-y {
                visibility: visible;
            }
        }
    }
}