@import 'compass';
@import 'vars';
@import 'mixins';

#branded .side-menu {
	position         : fixed;
	z-index          : 98;
	top              : 35px;
	left             : 0;
	width            : 85px;
	height           : 100%;
	background-color : #222426;

	.logo {
		display : none;
	}
	.simple_search {
		position         : relative;
		top              : 0;
		left             : 0;
		border           : 1px solid #d9d9d9;
		background-color : #fcfcfc;
		width            : 146px;
		height           : 30px;
		margin           : 27px auto 0;

		input {
			color          : #666;
			width          : 130px;
			height         : 30px;
			line-height    : 16px;
			padding        : 0 0 0 10px;
			margin         : 0;
			background     : none;
			text-transform : none;
			box-shadow     : none;
			outline        : 0 none;
			border         : 0 none;
			font-size      : 10px;
			text-indent    : 40px;
		}
		button{
			border     : 0 none;
			margin-top : 3px;
		}
	}

	.simple_search.focus {
	    
	    input {
			background  : transparent none;
	        text-indent : 0px;
	        width       : 110px;
	    }
		button {
			border     : 0 none;
			margin-top : 3px;
			background : transparent url(../../images/header_search_btn.png) 4px 3px no-repeat;
			
			&:hover{
				margin-top          : 6px;
				background-position : 4px -18px;
			}
		}
	}

	.side-menu-categories {
		position         : absolute;
		left             : 86px;
		top              : 0px;
		width            : 186px;
		height           : 100%;
		border-right     : 1px solid #f0f0f0;
		background-color : #fff;
		z-index          : 1;
		overflow         : auto;
		padding-left     : 2px;

		.category_menu { 
			width : 100%;
			left  : 0;
			top   : 70px;
			right : auto;
			
			ul.categories{
				li {
					float      : none;
					display    : block;
					top        : 0;
					text-align : center;
					
					.lhn-subcategories {
						margin : 0;
					}
				}		
				li.level0item {
					padding       : 0;
					background    : url('../img/sidebar_separator.png') no-repeat 50% 0 transparent;
					text-align    : center;
					margin-bottom : 0px;

					> a {
						font-family    : $bold;
						font-size      : 12px;
						font-weight    : normal;
						text-transform : uppercase;
						letter-spacing : 0.1em;
						color          : #000;
						padding        : 15px 0;
					}

					img.categorythumbnail {
						margin : 2px 0 0 0;
						cursor : pointer;
					}

				    ul.items {
				        margin : 0 0 8px 0;

				        a {
				            font-family : $medium;
				            font-size   : 12px;
				            color       : #333;
				            font-weight : normal;
				        }

				        li {
					        a {
					            font-family : $regular;
					            font-weight : normal;
					            font-size   : 12px;
					            color       : #444;
					        }
				        }
				        
				        li.level2item {
				        	display : none;
				        }
				    }

				    &.jj-home {
				    	display: none;
				    }
				}

				li.level0item.active {
					background-color : #fcfcfc;

					.lhn-subcategories {
						padding : 0 0 15px 0;
					}

					ul.active { 
						margin-bottom : 15px; 

						> a {
							text-decoration : underline;
							margin-bottom   : 10px;
						}
						li.level2item {
				        	display    : block;
				        	margin-top : 3px;
				        }
						li.level2item.active > a {
							text-decoration : underline;
				        }
			        }					
				}
			}
		}
	}

	.contentasset,
	.tabsplaceholder,
	.tabscontainer {
		height : 100%;
	}
}

/* Tabbed navigation */
#branded .tabsplaceholder {
	width    : 85px;
	position : absolute;
	z-index  : 2;

	.tabscontainer {
		z-index          : 49;
		width            : 100%;
		background-color : #222426;
		
		.jj-logo-container {
			width       : 85px;
			height      : 50px;
			margin      : 0;
			background  : url('../img/sidebar.png') no-repeat 0 -35px transparent;
			cursor      : pointer;
			padding-top : 15px;
		}

		.tabs {
			position : absolute;
			top      : 50%;
			width    : 85px;
			margin   : -200px 0 0 0;

			.tab {
				height     : 50px;
				background : url('../img/sidebar.png') no-repeat 0 0 transparent;

				a {
					background : url('../img/sidebar.png') no-repeat 0 0 transparent;
					display    : block;
					height     : 100%;
					width      : 100%;
					@include opacity(0.5);
				}
			}
			.tab.active {
				background-color : #fff;
				
				a {
					@include opacity(1);
				}
			}

			.jackjones a {
				background-position : 0 -100px;
				margin-bottom       : 50px;
				
			}
			.jackjones.active a {
				background-position : 0 -450px;
			}
			.core a {
				background-position : 0 -150px;
			}
			.core.active a {
				background-position : 0 -500px;
			}
			.originals a {
				background-position : 0 -200px;
			}
			.originals.active a {
				background-position : 0 -550px;
			}
			.premium a {
				background-position : 0 -250px;
			}
			.premium.active a {
				background-position : 0 -600px;
			}
			.vintage a {
				background-position : 0 -300px;
			}
			.vintage.active a {
				background-position : 0 -650px;
			}
			.tech a {
				background-position : 0 -350px;
			}
			.tech.active a {
				background-position : 0 -700px;
			}
		}
	}

}