@import 'compass';
@import 'vars';
@import 'mixins';

/* Import from jj-5lines */

@import "jj-5lines";

/* End import from jj-5lines */

/* category banner heading text */

.cat-banner-wrapper {
    h1.catHeading {
        font-size      : 70px;
        font-family    : $vintageFontRockwell;
        text-transform : uppercase;
        font-weight    : bold;
        background     : url("../img/vintage/catbanner-h1-background.jpg") bottom center no-repeat !important;
        padding-bottom : 34px;
    }

    div.catLogo {
        background  : url("../img/vintage/catbannerLogo.png") right 0 no-repeat !important;
        width       : 1007px;
        height      : 51px;
        position    : absolute;
        top         : 15px;
        left        : 50%;
        margin-left : -503px;
    }
}
