@import '../../../static_files/styles/modules/vars'
@import '../../../static_files/styles/modules/easings'

// Overwrites
.jj #branded.pt_brandstorefront 
	.area
		background none !important

	#content
		width 100%
		margin 0
		padding 0
		background none !important
		
		.grid_24
			width 100%
			padding 0
			margin 0

#footer_global
	margin-top 0

// Styles
.denim-heroes-tcs
	width 1024px
	margin 0 auto
	background #f9f9f9
	position relative
	padding-bottom 75px
	
	img.sticker
		position absolute
		left 30px
		top 328px
		transition transform 0.3s easeOutCubic

		&:hover
			transform rotate(30deg)
		
	.text
		margin 0 75px 0 275px
		color #013d60
		
		h1
			text-transform uppercase
			font-family $bold
			font-weight normal
			font-size 34px
			line-height 49px
			letter-spacing 1px
			margin 75px auto 25px
			
		h2
			font-size 16px
			line-height 19px
			font-family $bold
			font-weight normal
			margin-bottom 10px
			
		p
			font-size 13px
			line-height 17px
			font-family $regular
			margin-bottom 20px
		
		ul li
			font-size 13px
			line-height 17px
			font-family $regular
			list-style-type disc
			list-style-position inside
			margin-bottom 20px