// Product listing pages
// Split in two mixins to avoid the static attributes being included in each media query
dynamic-productlisting($imagewidth, $spacing)
	$listwidth = ($imagewidth * 3) + ($spacing * 2)
	
	.productlisting
		width $listwidth
		
		.grid_5
			width $imagewidth
			margin 0 $spacing
				
			.producttile .image img.product_thumbnail
				width $imagewidth
						
static-productlisting()
	.productlisting
		margin 0 auto
		
		.grid_5
			height auto
			overflow hidden
			
			&.alpha
			&.omega
				margin 0
				
			.producttile
				background-color transparent
				height auto
				
				.image
					border 0 none
					margin 0
					
					.thumbnail
						width 100%
						height auto
						
						.badgeimage
							&.promobadge
							&.oosbadge
								margin -30px auto 0
								position relative
								
							&.productbadge
								top initial
								bottom 30%
								width auto
								height auto
								
					img.product_thumbnail
						border 0 none
						height auto
						
					.quickviewbutton
					.quickviewbutton a
						box-sizing content-box