productlisting($imagewidth, $spacing)
	$listwidth = ($imagewidth * 3) + ($spacing * 2)
	
	.productlisting
		margin 0 auto
		width $listwidth
		
		.grid_5
			width $imagewidth
			margin 0 $spacing
			height auto
			overflow hidden
			
			&.alpha
			&.omega
				margin 0
				
			.producttile
				background-color transparent
				height auto
				
				.image
					border 0 none
					margin 0
					
					.thumbnail
						width 100%
						height auto
						
						.badgeimage
							&.promobadge
							&.oosbadge
								margin -30px auto 0
								position relative
								
					img.product_thumbnail
						border 0 none
						width $imagewidth
						height auto
						
					.quickviewbutton
					.quickviewbutton a
						box-sizing content-box