@import 'compass';
@import 'vars';

// Overwrites
.jsCategoryName,
.breadcrumb-line,
.cat-banner-top,
.filterPlaceholder,
.refinement-line,
.category-text-line,
.resultinformation-line {
	display    : none !important;
	margin-top : 0 !important;
}

#branded.pt_category .container_24 .grid_24.product-line {
	margin-top : 0 !important;
}

.contentpage .grid_10 {
	display : none;
}

.container_24 {
	padding-bottom : 0;
}

#footer_global {
	margin-top : 0;
}

// Styles
.jj-noresults {
	background     : #fafafa;
	padding-bottom : 125px;

	.content {
		width          : 750px;
		margin         : 0 auto;
		text-align     : center;
		text-transform : uppercase;
		font-family    : $regular;
		font-size      : 13px;
	}

	.logo {
		width      : 100%;
		height     : 63px;
		background : #fff url('../img/storefront_logo.jpg') center no-repeat;
	}

	.text {
		h1 {
			display     : block !important;
			font-size   : 38px;
			font-family : $light;
			font-weight : normal;
			margin-top  : 96px;
		}

		h2 {
			font-size   : 14px;
			font-family : $regular;
			font-weight : normal;
		}

		h3 {
			font-size      : 16px;
			font-family    : $bold;
			font-weight    : normal;
			letter-spacing : 1px;
			margin-bottom  : 23px;
		}

		span,
		p {
			display     : block;
			font-size   : 13px;
		}

		span {
			margin-bottom: 13px;

			&:last-child {
				margin-bottom : 0;
			}
		}

		p {
			width       : 375px;
			margin      : 0 auto;
			line-height : 18px;
		}

		.tips {
			margin-top : 60px;
		}

		.help {
			margin-top    : 50px;
			margin-bottom : 80px;
		}

		a {
			color           : inherit;
			text-decoration : underline;

			&:hover {
				text-decoration : none;
			}
		}
	}

	.boxes {
		.box {
			float    : left;
			padding  : 5px;
			position : relative;
			width    : 240px;
			height   : 240px;

			&.large {
				width : 490px;
			}

			.cta {
				position : absolute;
				width    : 100%;
				top      : 50%;
				@include transform(translateY(-50%));

				h3 {
					font-family    : $bold;
					font-size      : 26px;
					color          : #fff;
					letter-spacing : 1px;
					line-height    : normal;
					font-weight    : normal;
				}

				span {
					color           : #fff;
					font-size       : 12px;
					margin-top      : 15px;
					text-decoration : underline;
					display         : block;
				}
			}
		}
	}
}