@import url('../../css/jack-jones.css')

@import '../modules/vars'
@import '../modules/mixins'


/* Imported from jj-shared */
@import '../partials/shared';

*::selection
	background #a8d1ff !important
	// Pink selection! What r u doin? STAHP!
	// Pink is teh color of bacon! WIN!

*::-moz-selection
	background #a8d1ff !important

/* CONTENT */
.jj #branded.pt_brandstorefront .area
	background none !important

/* Overwrite margin in navigation, to fit brand shopping callout */
.side-menu-categories .category_menu ul.categories
	margin-top 193px !important

#branded .side-menu .side-menu-categories .category_menu ul.categories li.level0item
	&.jj-c-shop-highlights
	&.jj-o-shop-highlights
	&.jj-p-shop-highlights
	&.jj-v-shop-highlights
	&.jj-t-shop-highlights
		> a
			padding-top 77px